.ironsworn-decoration {
  .asset-ironsworn .asset-ability::before {
    border: var(--ironsworn-border-width-md) solid var(--ironsworn-color-fg);
  }
}

.starforged-decoration {
  .asset-ironsworn .asset-ability::before {
    border-width: var(--ironsworn-border-width-md);
    border-style: solid;
  }

  .asset-starforged .asset-ability::before {
    border-width: var(--ironsworn-border-width-md);
    border-style: solid;
    background-color: var(--ironsworn-color-fg);
  }
}

@mixin starforged-asset-deco(
  $hex-deco-expanded-height: 50px,
  $hex-deco-collapsed-height: 32px
) {
  $hex-deco-aspect-ratio: calc(24 / 28);

  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: -($hex-deco-expanded-height * 0.09);
    right: ($hex-deco-expanded-height * 0.03);
    transform: scaleX(-1);
    z-index: auto;
    background: var(--ironsworn-color-thematic);
    height: $hex-deco-collapsed-height;
    content: '';
    pointer-events: none;
    aspect-ratio: $hex-deco-aspect-ratio;
    mask-image: url('/assets/misc/hex-deco.svg');
    mask-repeat: no-repeat;
  }

  & > * {
    z-index: 2;
  }

  .asset-header {
    padding-right: ($hex-deco-collapsed-height * $hex-deco-aspect-ratio);
  }
}
