.ironsworn-decoration {
  .asset-ironsworn .asset-ability::before {
    border: var(--ironsworn-border-width-md) solid var(--ironsworn-color-fg);
  }
}

.starforged-decoration {
  .asset-ironsworn .asset-ability::before {
    border-width: var(--ironsworn-border-width-md);
    border-style: solid;
  }

  .asset-starforged .asset-ability::before {
    background-color: var(--ironsworn-color-fg);
    border-width: var(--ironsworn-border-width-md);
    border-style: solid;
  }
}

.starforged-asset-deco {
  $hex-deco-expanded-height: 50px;
  $hex-deco-collapsed-height: 32px;
  $hex-deco-aspect-ratio: 24 / 28;

  position: relative;

  & > * {
    z-index: 2;
  }

  &::before {
    display: block;
    pointer-events: none;
    content: '';
    mask-image: url(/assets/misc/hex-deco.svg);
    background: var(--ironsworn-color-thematic);
    position: absolute;
    aspect-ratio: $hex-deco-aspect-ratio;
    z-index: auto;
    mask-repeat: no-repeat;
    transform: scaleX(-1);
    height: $hex-deco-collapsed-height;
    top: -($height * 0.09);
    right: ($height * 0.03);
  }

  .asset-header {
    padding-right: ($hex-deco-collapsed-height * $hex-deco-aspect-ratio);
  }
}
