<form
  class='challenge-resolution-dialog vueroot'
  style='height: 100%'
  autocomplete='off'
>
  <Suspense>
    <challenge-resolution-dialog :message-id='data.messageId'>
      Whoops, an error occurred.
    </challenge-resolution-dialog>
  </Suspense>
</form>