<div class="ironsworn-roll flexcol" data-ironswornroll="{{ironswornroll}}">
  <div class="dice-result dice-tooltip dice-roll ironsworn-roll">
    {{{graphic}}}
  </div>
  <pre><code>{{json ironswornroll}}</code></pre>
</div>
