.theme-ironsworn {
  @background-color: white;
  @dark-color: #888;
  @medium-color: darkgray;
  @light-color: #ccc;
  @text-color: black;

  .window-content {
    background: @background-color;
  }

  .sheet-area {
    border-color: @medium-color;
  }

  .margin-left,
  .margin-right {
    border-color: black;
    h1 {
      border-color: black;
    }
  }

  .stack-row {
    border-color: black;
  }

  .edit {
    border-color: black;

    &.editing {
      background: @medium-color;
    }
  }

  .inset {
    border-color: @medium-color;
  }

  .xp .xp {
    border-color: black;
  }

  .item-row {
    border-color: black;
  }

  .progresses .item {
    border-color: @medium-color;
  }

  .tabs {
    border-color: @medium-color;
  }

  .item-list {
    ol > h2 {
      border-color: white;
      background-color: @dark-color;
      color: white;
    }

    .item {
      border-color: @medium-color;
    }
  }

  .progress {
    border-color: black;
  }

  .move-title {
    background-color: @background-color;
    border-color: @dark-color;
  }

  .rank-pip {
    fill: transparent;
    stroke: black;

    &.filled {
      fill: darkgray;
    }

    path {
      stroke-width: 1.5;
    }
  }

  .clickable {
    &.disabled {
      color: @dark-color;

      &.selected {
        color: white;
        background-color: black;
      }
    }

    &:not(.disabled) {
      &:hover {
        &.block {
          background: @medium-color;
        }
        &.text {
          color: @medium-color;
        }
        &.svg {
          fill: @medium-color;
        }
      }
      &:active {
        &.block {
          background: @light-color;
        }
        &.text {
          color: @light-color;
        }
        &.svg {
          fill: @light-color;
        }
      }

      &.selected {
        &.block,
        &.text {
          color: white;
          border-color: black;
          background: black;
        }
        &.svg {
          fill: black;
        }
      }
    }
  }

  .stats {
    .stat {
      border-color: black;
    }
  }

  .compact {
    .bordergroup {
      border-color: black;
    }
  }

  .ironsworn-roll {
    .dice-formula,
    .dice-total {
      background-color: @background-color;
    }
  }
}
