/**
 * LESS Function that generates CSS variables for a palette of colours.
 * Currently it doesn't do checking for contrast, but it probably should.
* NOTE: 'warm' and 'cool' are used here primarily because they're more memorable labels than 'primary' or 'secondary'. They *could* be 'warmer'/'cooler' colours, but they don't have to be; 'warm'/'cool' are more about a UX element's importance/activity (warmer = more active/dramatic).
 * @prefix - the prefix to use for the generated CSS variables.
 * @fgColor - The foreground color.
 * @bgColor - The background color.
 * @warmAccentColor - A saturated color, used both as-is and in mixtures with the other colours.
 * @coolAccentColor - A second saturated color, used both as-is and in mixtures with the other colours.
 */
.palettize(@prefix:palette, @fgColor:hsl(0, 0%, 0%),@bgColor:hsl(0, 0%, 100%),@warmAccentColor:hsl(24, 100%, 50%), @coolAccentColor:hsl(0, 100%, 50%)) {
  // TODO: This could probably be improved significantly by writing palettize in JS to take advantage of chroma.js, then importing it as a LESS plugin. The various scale functions are particularly attractive!
  @lightColor: if((luma(@fgColor) > luma(@bgColor)), @fgColor, @bgColor);
  @darkColor: if((luma(@fgColor) < luma(@bgColor)), @fgColor, @bgColor);

  @palette: {
    @warm: {
      hue: hue(@warmAccentColor);
      saturation: saturation(@warmAccentColor);
      luma: luma(@warmAccentColor);
    };
    @cool: {
      hue: hue(@coolAccentColor);
      saturation: saturation(@coolAccentColor);
      luma: luma(@coolAccentColor);
    };
    @light: {
      // LESS rewrites things like hsl(180,20%,0%) to hsl(0,0%,0%)
      // so we can't reliaby extract a hue from it.
      // instead we interpolate a value from the accent colours.
      hue: if(
        saturation(@lightColor) = 0,
        hue(mix(@warmAccentColor, @coolAccentColor)),
        hue(@lightColor)
      );
      saturation: saturation(@lightColor);
      luma: luma(@lightColor);
    };
    @dark: {
      hue: if(
        saturation(@darkColor) = 0,
        hue(mix(@warmAccentColor, @coolAccentColor)),
        hue(@darkColor)
      );
      saturation: saturation(@darkColor);
      luma: luma(@darkColor);
    };
  };

  --@{prefix}-light: @lightColor;
  --@{prefix}-dark: @darkColor;
  --@{prefix}-warm: @warmAccentColor;
  --@{prefix}-cool: @coolAccentColor;
  --@{prefix}-fg: @fgColor;
  --@{prefix}-bg: @bgColor;
  // generate overlays
  @overlays: range(10, 90, 10);
  // these *could* be done in a single function, but it makes it harder to read
  each(@overlays, {
    --@{prefix}-fg-@{value}: fade(@fgColor, @value);
  });
  each(@overlays, {
    --@{prefix}-bg-@{value}: fade(@bgColor, @value);
  });
  each(@overlays, {
    --@{prefix}-light-@{value}: fade(@lightColor, @value);
  });
  each(@overlays, {
    --@{prefix}-dark-@{value}: fade(@darkColor, @value);
  });

  each(@overlays, {
    --@{prefix}-warm-@{value}: fade(@warmAccentColor, @value);
  });
  each(@overlays, {
    --@{prefix}-cool-@{value}: fade(@coolAccentColor, @value);
  });

  // generate mixtures
  @mixtures: range(10, 90, 10);
  each(@mixtures, {
    --@{prefix}-midtone-@{value}: mix(@fgColor, @bgColor, @value);
  });
  each(@mixtures, {
    --@{prefix}-scale-@{value}: mix(@lightColor, @darkColor, @value);
  });

  @lightWarmBase: mix(@warmAccentColor, @lightColor, 75%);
  @lightCoolBase: mix(@coolAccentColor, @lightColor, 75%);
  @darkWarmBase: mix(@warmAccentColor, @darkColor, 75%);
  @darkCoolBase: mix(@coolAccentColor, @darkColor, 75%);

  @lightnessCeiling: 75%;
  @lightnessFloor: 20%;

  @lightWarm: hsl(
    hue(@lightWarmBase),
    100%,
    //saturation(@lightWarmBase),
    @lightnessCeiling
  );
  @lightCool: hsl(
    hue(@lightCoolBase),
    100%,
    //saturation(@lightCoolBase),
    @lightnessCeiling
  );
  @darkWarm: hsl(
    hue(@darkWarmBase),
    100%,
    //saturation(@darkWarmBase),
    @lightnessFloor
  );
  @darkCool: hsl(
    hue(@darkCoolBase),
    100%,
    //saturation(@darkCoolBase),
    @lightnessFloor
  );

  --@{prefix}-light-warm: @lightWarm;
  --@{prefix}-dark-warm: @darkWarm;
  --@{prefix}-light-cool: @lightCool;
  --@{prefix}-dark-cool: @darkCool;

  --@{prefix}-fg: @fgColor;
  --@{prefix}-bg: @bgColor;
  --@{prefix}-fg-warm: if(
    (luma(@fgColor) > luma(@bgColor)),
    @lightWarm,
    @darkWarm
  );
  --@{prefix}-fg-cool: if(
    (luma(@fgColor) > luma(@bgColor)),
    @lightCool,
    @darkCool
  );
  --@{prefix}-bg-warm: if(
    (luma(@fgColor) < luma(@bgColor)),
    @lightWarm,
    @darkWarm
  );
  --@{prefix}-bg-cool: if(
    (luma(@fgColor) < luma(@bgColor)),
    @lightCool,
    @darkCool
  );

  // sensible defaults for semantically-oriented colors

  --@{prefix}-fg-muted: var(e(%('--%s-midtone-60', @prefix)));
  --@{prefix}-input-bg: var(e(%('--%s-fg-10', @prefix)));
  --@{prefix}-input-border: var(e(%('--%s-fg-10', @prefix)));
  --@{prefix}-fg-highlight: var(e(%('--%s-fg-warm', @prefix)));
}
