@import './starforged-font.css'; // HACK to avoid import error

.theme-starforged {
  --font-primary: 'Carrois Gothic SC', sans-serif;

  --ironsworn-color-fg-highlight: #6ff;
  --ironsworn-color-fg: #3dd;
  --ironsworn-color-fg-faded: #399;
  --ironsworn-color-midtone: #266;
  --ironsworn-color-bg-faded: #001a1a;
  --ironsworn-color-bg: black;

  --ironsworn-color-accent: orange;
  --ironsworn-color-thematic: #399;

  --ironsworn-color-border-highlight: var(--ironsworn-color-fg-highlight);
  --ironsworn-color-border: var(--ironsworn-color-fg-faded);
  --ironsworn-color-border-faded: var(--ironsworn-color-midtone);

  --ironsworn-color-bg-highlight: var(--ironsworn-color-midtone);

  --ironsworn-color-widget-fill-enabled: var(--ironsworn-color-bg-faded);
  --ironsworn-color-widget-stroke-enabled: var(--ironsworn-color-fg);
  --ironsworn-color-widget-text-enabled: var(--ironsworn-color-border);

  --ironsworn-color-widget-fill-hover: var(--ironsworn-color-bg-highlight);
  --ironsworn-color-widget-text-hover: var(--ironsworn-color-fg-highlight);
  --ironsworn-color-widget-stroke-hover: var(--ironsworn-color-fg-highlight);

  --ironsworn-color-widget-fill-selected: var(--ironsworn-color-bg-highlight);
  --ironsworn-color-widget-text-selected: var(--ironsworn-color-fg);
  --ironsworn-color-widget-stroke-selected: var(--ironsworn-color-fg);

  --ironsworn-color-danger: hsl(0, 80%, 50%);
  --ironsworn-color-success: hsl(290, 80%, 50%);
  --ironsworn-color-success-faded: hsl(290, 80%, 60%);

  --ironsworn-dice-background: var(--ironsworn-color-bg-faded);

  // hexagon, pointy side down
  --ironsworn-theme-pip: polygon(
    0 25%,
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%
  );

  .clickable-fx(@spread_box:5px,@spread_text:10px,@spread_drop:5px) {
    transition: var(--transition-general);
    &.selected,
    &[aria-selected='true'] {
      color: var(---ironsworn-color-fg-highlight);
    }
    &:hover {
      color: var(---ironsworn-color-fg-highlight);
      text-shadow: 0 0 @spread_text var(--ironsworn-color-fg-faded);
      &.block {
        box-shadow: 0 0 @spread_box var(--ironsworn-color-fg-faded);
      }
      &:not(.block) {
        filter: drop-shadow(0 0 @spread_drop var(--ironsworn-color-fg-faded));
        fill: var(--ironsworn-color-widget-fill-hover);
        color: var(--ironsworn-color-widget-text-hover);
      }
    }
  }
  button,
  .clickable {
    .clickable-fx();
  }
}
