/* stylelint-disable order/order */
// Dark theme for Starforged, with aggressive restyling of FVTT's stock UX elements.

@use 'sass:meta';
@use '@styles/themes/starforged-font.css'; // HACK to avoid import error
@use '@styles/mixins/colors';
@use '@styles/mixins/fvtt-retheme';
@use '@styles/mixins/decorations';

.theme-starforged {
  @include colors.palettize(
    $fg-color: hsl(180deg 70% 60%),
    $bg-color: hsl(180deg 20% 0%),
    $warm-color: hsl(185deg 100% 50%),
    $cool-color: hsl(210deg 100% 50%),
    $prefix: 'ironsworn-color'
  );
  @include colors.dark-theme('ironsworn-color');
  @include colors.soft-border('ironsworn-color');
  @include colors.interactive-tint(
    'ironsworn-color-clickable-block',
    'ironsworn-color'
  );

  // TYPOGRAPHY
  --font-primary: 'Carrois Gothic SC', sans-serif;
  --ironsworn-color-text-stroke: var(--ironsworn-color-bg);

  // CLICKABLE TEXT: HOVER EFFECT
  --ironsworn-filter-highlight: drop-shadow(0 0 3px var(--ironsworn-color-cool))
    drop-shadow(0 0 3px var(--ironsworn-color-cool-50));
  --ironsworn-box-shadow-highlight: 0 0 3px var(--ironsworn-color-cool),
    0 0 3px var(--ironsworn-color-cool);

  // TABS
  --ironsworn-tab-transition: slide;

  // now that the vars are set, set the overrides to FVTT's vars that are dependent on them.
  @include fvtt-retheme.color-variables;

  // Restyle FVTT's UI
  @include fvtt-retheme.ui;

  // Hexagon motif for certain widgets and decorations
  @include decorations.starforged;
}
