@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&family=Carrois+Gothic+SC&display=swap');

@dark-color: #00333399;
@muted-color: #11777799;
@medium-color: #33999999;
@light-color: #55bbbb99;
@background-gradient: rgba(0, 0, 0, 0.4); // radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%);

@text-dark-color: #399;
@text-light-color: #5cc;

body {
  font-family: 'Carrois Gothic SC', sans-serif;
}

::-webkit-scrollbar-thumb {
  background: @dark-color;
  border-color: @medium-color;
}

.window-app {
  background-color: transparent;
}

.theme-starforged {
  color: @text-light-color;

  h2,
  h3 {
    border-bottom-color: @text-dark-color;
  }

  .inline-roll {
    background: @dark-color;
    border-color: @light-color;

    &:hover {
      text-shadow: 0 0 8px @text-light-color;
    }
  }

  .window-content {
    // background-color: rgba(0, 0, 0, 0.4);
    background: rgb(0, 0, 0);
    background: @background-gradient;
    background-image: none;
    color: @text-light-color;
  }

  input {
    background-color: @dark-color;
    border: 0;
    color: @text-light-color;

    &:focus {
      box-shadow: 0 0 10px @light-color;
      cursor: pointer;
    }
  }

  .sheet-area {
    border-color: @dark-color;
  }

  .rank-pip {
    fill: @medium-color;

    &.filled {
      fill: @text-light-color;
    }

    path {
      stroke-width: 0;
    }
  }

  .clickable {
    &.disabled {
      background: @dark-color;
      color: @medium-color;
    }

    &:not(.disabled) {
      color: @text-dark-color;

      &:hover {
        &.block,
        &.text {
          color: @text-light-color;
        }
        &.svg {
          fill: @light-color;
        }
      }

      &.selected {
        &.block,
        &.text {
          color: @text-light-color;
          background-color: @dark-color;
        }
        &.svg {
          fill: @dark-color;
        }
      }
    }
  }

  .stats {
    .stat {
      border-color: @text-light-color;
    }
  }
}

// .roll {
//   color: @text-light-color;

//   &.max {
//   }

//   &.min {

//   }
// }

.ironsworn-roll .roll {
  background-image: url('systems/foundry-ironsworn/assets/d6.svg');
}

.chat-message {
  .dice-formula,
  .dice-total {
    background: rgba(0, 0, 0, 0.8);
    color: @text-light-color;
    // border-color: @text-light-color;

    .die {
      &.d6 {
        background-image: url('systems/foundry-ironsworn/assets/d6.svg');
      }
      &.d10 {
        background-image: url('systems/foundry-ironsworn/assets/d10.svg');
      }
      
      &.min {
        color: @text-light-color;
        filter: hue-rotate(180deg);
      }
      &.max {
        color: @text-light-color;
        filter: hue-rotate(-60deg);
      }
    }
  }

  // .message-header {
  //   color: @text-light-color;
  // }
}
