@import './starforged-font.css'; // HACK to avoid import error
@import '../mixins.less';
@import '../fvtt/vars.less';

.system-foundry-ironsworn.theme-starforged {
  // restyle FVTT's UI
  @import '../fvtt/app.less';
  @import '../fvtt/clickable.less';
  @import '../fvtt/sidebar.less';
  @import '../fvtt/inputs.less';
  // TODO: finish slider.less

  --font-primary: 'Carrois Gothic SC', sans-serif;
  @themeLightHue: 185;
  @themeLightSaturation: 70%;
  @themeLightLightness: 55%;
  @themeDarkHue: @themeLightHue;
  @themeDarkSaturation: 0%;
  @themeDarkLightness: 0%;

  --ironsworn-color-light: hsl(
    @themeLightHue,
    @themeLightSaturation,
    @themeLightLightness
  );
  --ironsworn-color-dark: hsl(
    @themeDarkHue,
    @themeDarkSaturation,
    @themeDarkLightness
  );
  --ironsworn-color-accent: hsl((@themeLightHue+10), 100%, 50%);
  --ironsworn-color-accent-alt: hsl((@themeLightHue+35), 100%, 50%);

  --ironsworn-color-light-muted: mix(
    $--ironsworn-color-light,
    $--ironsworn-color-dark,
    70%
  );
  --ironsworn-color-light-vivid: lighten(
    saturate($--ironsworn-color-light, 20%, relative),
    50%,
    relative
  );

  --ironsworn-color-dark-alt: mix(
    $--ironsworn-color-light-muted,
    $--ironsworn-color-dark,
    40%
  );
  --ironsworn-color-dark-vivid: mix(
    $--ironsworn-color-light,
    $--ironsworn-color-dark,
    60%
  );

  --ironsworn-color-fg: var(--ironsworn-color-light);
  --ironsworn-color-fg-muted: var(--ironsworn-color-light-muted);
  --ironsworn-color-fg-highlight: var(--ironsworn-color-light-vivid);

  --ironsworn-color-border-highlight: var(--ironsworn-color-fg-highlight);
  --ironsworn-color-border: var(--ironsworn-color-fg-muted);
  --ironsworn-color-border-muted: var(--ironsworn-color-dark-alt);

  --ironsworn-color-bg: var(--ironsworn-color-dark);
  --ironsworn-color-bg-alt: var(--ironsworn-color-dark-alt);
  --ironsworn-color-bg-highlight: var(--ironsworn-color-dark-vivid);

  --ironsworn-dark-overlay: fade($--ironsworn-color-dark, 15%);
  --ironsworn-light-overlay: fade($--ironsworn-color-light, 15%);

  --ironsworn-color-input-bg: var(--ironsworn-light-overlay);

  --ironsworn-color-text-stroke: $--ironsworn-color-dark;

  // --ironsworn-color-input-bg: ;

  // see clickable.less for usage
  --ironsworn-color-clickable-text: var(--ironsworn-color-fg);
  --ironsworn-color-clickable-text-hover: var(--ironsworn-color-fg-highlight);
  --ironsworn-color-clickable-text-selected: var(
    --ironsworn-color-fg-highlight
  );

  --ironsworn-color-clickable-block-fg: var(--ironsworn-color-fg-muted);
  --ironsworn-color-clickable-block-bg: transparent;
  --ironsworn-color-clickable-block-border: var(--ironsworn-color-border);

  --ironsworn-color-clickable-block-fg-selected: var(
    --ironsworn-color-fg-highlight
  );
  --ironsworn-color-clickable-block-bg-selected: var(
    --ironsworn-color-bg-highlight
  );
  --ironsworn-color-clickable-block-border-selected: var(
    --ironsworn-color-fg-highlight
  );

  --ironsworn-color-clickable-block-fg-hover: var(
    --ironsworn-color-fg-highlight
  );

  --ironsworn-color-clickable-block-bg-hover: var(--ironsworn-color-bg-alt);
  --ironsworn-color-clickable-block-border-hover: var(
    --ironsworn-color-fg-highlight
  );

  --ironsworn-input-border-style: solid;

  --ironsworn-color-legacy-quests: var(--ironsworn-color-red-dark);
  --ironsworn-color-legacy-bonds: var(--ironsworn-color-purple-dark);
  --ironsworn-color-legacy-discoveries: var(--ironsworn-color-blue-dark);

  --ironsworn-color-danger: hsl(0, 80%, 50%);
  --ironsworn-color-success: hsl(290, 80%, 50%);
  --ironsworn-color-success-faded: hsl(290, 80%, 60%);

  --path-hexagon: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);

  // This could be inset, but for some reason certain states don't inherit this properly, creating an annoying 'pop' in the input hover animation.
  --ironsworn-input-border-style: solid;

  // now that the vars are set, set the overrides to FVTT's vars that are dependent on them.
  .overrideVars();

  scrollbar-color: var(--ironsworn-color-border-muted)
    var(--ironsworn-color-bg-alt);

  ::-webkit-scrollbar-thumb {
    background: var(--ironsworn-color-bg-alt);
    border-color: var(--ironsworn-color-border-muted);
  }

  .asset-ironsworn .asset-ability:before {
    border-width: 1px;
    border-style: solid;
  }
  .asset-starforged .asset-ability:before {
    background-color: var(--ironsworn-color-fg);
    border-width: 1px;
    border-style: solid;
  }
}
