@import 'https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&family=Carrois+Gothic+SC&display=swap';
@import 'starforged-font.css';

.theme__starforged {
	--font-primary: 'Carrois Gothic SC', sans-serif;
	--ironsworn-tab-transition: slide;
}

.theme__ironsworn {
	--ironsworn-tab-transition: fade;
}
