@import (reference) './themes/mixins/decorations.less';

@asset_spacer: 0.5em;

.ironsworn__asset {
  overflow: hidden;
  transition: var(--std-animation);
  .asset-header {
    transition: var(--std-animation);
    gap: @asset_spacer;
    align-items: center;
    .asset-expand-toggle {
      display: flex;
      gap: @asset_spacer;
      background: none;
      box-shadow: none !important;
    }
    .asset-title {
      margin: 0;
      font-size: var(--font-size-14);
      font-weight: bold;
      letter-spacing: 0.02em;
      word-spacing: 0.02em;
      line-height: 1;
      text-transform: uppercase;
    }
    &:not(:hover) .asset-type {
      color: var(--ironsworn-color-thematic);
    }
    .asset-type {
      flex-grow: 0;
      line-height: 1;
      font-style: italic;
      transition: var(--std-animation);
    }
    .asset-controls {
      justify-items: flex-end;
      display: flex;
      flex-grow: 0;
      flex-wrap: nowrap;
    }
  }
  .asset-body {
    transition: var(--std-animation);
    overflow: hidden;
    padding: (@asset_spacer / 2);
    gap: @asset_spacer;
    .asset-fields {
      margin: 0;
      display: flex;
      flex-direction: column;
      .asset-field {
        display: flex;
        flex-direction: row;
        gap: (@asset_spacer / 2);
        flex-grow: 0;
        border-bottom: 1px solid;
        border-bottom-color: var(--ironsworn-color-thematic);
        .asset-field-label {
          padding: 0;
          margin: 0;
        }
        .asset-field-value {
          margin: 0;
          flex-grow: 1;
          padding: 0 (@asset_spacer / 2);
        }
      }
    }
    .asset-abilities {
      padding-left: @asset_spacer;
      gap: @asset_spacer;
      .asset-ability {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: @asset_spacer;
      }
    }
  }

  .asset-ability-clock {
    min-width: 40px;
    max-width: 75px;
  }
  .asset-ability-text {
    // flex-grow: 2;
    // gap: (@asset_spacer / 2);
    p {
      margin: 0;
    }
  }
  ul,
  ol {
    margin: 0;
  }
}
.asset-condition-meter {
  gap: var(--ironsworn-spacer-sm);
  .icon-button .button-text {
    text-align: left;
  }
  .slider-segment {
    --ironsworn-text-stroke-color: var(--ironsworn-dark-color);
    .textStrokeMixin();
  }
}

@hexagon_aspect_ratio: (sqrt(3) / 2);
@hex_deco_aspect_ratio: 24 / 28;
@hex_deco_expanded_height: 50px;
@hex_deco_collapsed_height: 32px;

// Here we encode the bullet styles as classes, and pull them into the
// ul>li bullet class from there. These will also be available for block
// elements
.asset-ability-bullet {
  display: block;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  mask-position: center;
  background-position: center;
  transition: var(--std-animation);
}
.asset-ability-bullet-marked {
  background-color: currentColor;
}

.asset-ability-bullet-ironsworn {
  aspect-ratio: 1;
  border-radius: 50%;
  border-width: var(--ironsworn-border-width-md);
  height: 0.75em;
  margin-top: 0.15em;
}

.asset-ability-bullet-starforged {
  aspect-ratio: @hexagon_aspect_ratio;
  background-image: url('/assets/misc/hex-checkbox-unchecked.svg');
  mask-image: url('/assets/misc/hex-checkbox-unchecked.svg');
  height: 1em;
  margin-top: 0.15em;
}
.asset-ability-bullet-starforged-marked {
  mask-image: url('/assets/misc/hex-checkbox-checked.svg');
}

.asset-ironsworn,
.asset-starforged {
  // common properties for asset ability bullet/checkbox
  .asset-ability {
    &:before {
      content: '';
      .asset-ability-bullet;
    }

    &.marked:before {
      .asset-ability-bullet-marked;
    }
  }
}
.asset-ironsworn {
  .asset-ability {
    &:before {
      .asset-ability-bullet-ironsworn;
    }
  }
}

.asset-starforged {
  .starforgedAssetDecoMixin(50px,32px);
  .asset-abilities {
    .asset-ability {
      &:before {
        .asset-ability-bullet-starforged;
      }
      &.marked:before {
        .asset-ability-bullet-starforged-marked;
      }
    }
  }
}
