@use 'mixin:decoration.scss';
@use 'sass:math';
@use 'mixin:text.scss';

.ironsworn__asset {
	transition: var(--ironsworn-transition);
	overflow: hidden;

	.asset-header {
		gap: var(--ironsworn-spacer-lg);
		align-items: center;

		.asset-expand-toggle {
			display: flex;
			flex-flow: row wrap;
			gap: var(--ironsworn-spacer-lg);
			transition: var(--ironsworn-transition);
			box-shadow: none !important;
			background: none;
		}

		.asset-title {
			transition: inherit;
			margin: 0;
			text-transform: uppercase;
			line-height: 1;
			word-spacing: var(--ironsworn-word-spacing-sm);
			letter-spacing: var(--ironsworn-letter-spacing-sm);
			font-size: var(--font-size-14);
			font-weight: bold;
		}

		.asset-type {
			flex-grow: 0;
			transition: inherit;
			line-height: 1;
			color: var(--ironsworn-color-thematic);
			font-style: italic;
		}

		.asset-controls {
			display: flex;
			flex-grow: 0;
			flex-wrap: nowrap;
			justify-items: flex-end;
		}
	}

	.asset-body {
		gap: var(--ironsworn-spacer-lg);
		transition: var(--ironsworn-transition);
		padding: var(--ironsworn-spacer-ms);
		overflow: hidden;

		.asset-fields {
			display: flex;
			flex-direction: column;
			margin: 0;
		}

		.asset-abilities {
			gap: var(--ironsworn-spacer-sm);
			margin: 0;
			padding: var(--ironsworn-spacer-sm) 0;
			list-style: none;
			justify-items: stretch;
			> li {
				display: contents;
				> * {
					width: 100%;
				}
			}
		}
	}
}

.asset-condition-meter {
	gap: var(--ironsworn-spacer-sm);

	.icon-button .button-text {
		text-align: left;
	}

	.slider-segment {
		--ironsworn-text-stroke-color: var(--ironsworn-dark-color);

		@include text.stroke;
	}
}

.asset-starforged {
	@include decoration.starforgedAssetDeco(50px, 32px);
}
