.boxgroup {
  // border: var(--ironsworn-border-width-md) solid var(--ironsworn-color-border);
  // --ironsworn-box-border-width: calc(var(--ironsworn-border-width-md) / 2);
  // --ironsworn-box-border-radius: var(--ironsworn-border-radius-lg);
  // border-radius: var(--ironsworn-border-radius-lg);
  // border: var(--ironsworn-boxgroup-border-width) solid
  //   var(--ironsworn-color-border);

  .boxrow {
    // border-top: var(--ironsworn-border-width-md) solid
    //   var(--ironsworn-color-border);

    &:first-child {
      // border-top: none;
    }

    &.small {
      flex-basis: 25px;
      flex-grow: 0;
      line-height: 25px;
    }
  }

  .box {
    --ironsworn-box-margin-offset: calc(
      var(--ironsworn-border-width-md) * -0.5
    );
    border: var(--ironsworn-border-width-md) solid var(--ironsworn-color-border);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: var(--ironsworn-box-margin-offset);
    &:hover,
    &:focus,
    &.hover {
      z-index: var(--ironsworn-z-index-highest);
    }
  }
}
