@import 'mixin-utils.less';

// TODO: mixin that contains all relevant "buttonlike" classes

.btnColor() {
  .clickable-text();
  .clickable-hover();
  .clickable-common();
  color: var(--ironsworn-color-btn-fg);
  background-color: var(--ironsworn-color-btn-bg);
  border-color: var(--ironsworn-color-btn-border);
}

a.entity-link,
a.content-link {
  .btnColor();
  .clickable-block();
}

form button,
button,
.dialog .dialog-buttons button {
  width: unset;
  margin: unset;
  background: unset;
  border: unset;
  border-radius: unset;
  font-family: inherit;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: none;
    box-shadow: unset;
  }
  .btnColor();
}

.inline-roll {
  background: var(--ironsworn-color-bg-faded);
  border-color: var(--ironsworn-color-border);

  &:hover {
    text-shadow: 0 0 8px var(--ironsworn-color-fg);
  }
}
