@import (reference) 'mixins';

.chat-message {
  border: var(--ironsworn-border-width-md) solid var(--ironsworn-color-border);
  color: var(--ironsworn-color-fg);

  .message-header {
    // FVTT's default message header. Some modules restyle this, so be careful with any layout changes.
    color: var(--ironsworn-color-fg-muted);
  }

  // General message content styling
  .message-content {
    @include text-compact;

    border: none;

    .ironsworn-roll-title,
    h3,
    h2 {
      font-size: var(--font-size-16);
      font-weight: bold;
      margin: 0;

      @include initial-caps;
    }

    .move-oracle-buttons {
      gap: var(--ironsworn-spacer-xs);

      button {
        margin: 0;
      }
    }

    button {
      margin: 0;

      .button-text {
        white-space: nowrap;
      }

      @include initial-caps;
      @include clickable-block;

      border-radius: var(--ironsworn-border-radius-md);
      border-width: var(--ironsworn-border-width-md);
      background-color: var(--ironsworn-color-bg-20);
    }
  }

  // Action rolls, progress rolls
  .ironsworn-roll {
    display: flex;
    flex-direction: column;
    gap: var(--ironsworn-spacer-md);

    .roll-outcome {
      display: flex;
      flex-flow: column;
      justify-content: center;
      gap: 0.25rem;
      margin-bottom: 0.25rem;

      p {
        margin: 0;
      }

      .outcome-label {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: larger;

        span {
          display: inline;
          white-space: nowrap;
        }

        .outcome-text {
          font-weight: bold;
        }
      }
    }

    .outcome-shortcuts {
      // embedded buttons for momentum burn, oracle roll suggestions, etc.
      display: contents;
    }
  }

  // Oracle rolls
  .oracle-roll {
    border: none;

    .oracle-table.oracle-table-partial {
      caption {
        font-size: large;

        > * {
          display: block;
          text-align: left;
        }

        .subtitle {
          font-size: 0.75em;
        }
      }

      td:first-child,
      td:last-child {
        width: 0;
      }

      // tint to make this an easier read when the message uses e.g. FVTT's default background texture
      background-color: var(--ironsworn-color-bg-20);
      margin: var(--ironsworn-spacer-xs) 0;
      transition: none;

      .oracle-result-row {
        > td {
          position: relative;

          > * {
            transition: var(--std-animation);
          }

          &:last-child {
            > .oracle-row-content {
              padding-right: var(--ironsworn-spacer-xs);
            }
          }
        }
      }

      .oracle-table-column-roll-result {
        padding: 0;
        white-space: nowrap;
      }

      .oracle-row-content {
        opacity: 1;
        visibility: visible;
        height: 100%;
        display: flex;
        gap: var(--ironsworn-spacer-sm);
        align-items: center;
      }

      .icon {
        display: flex;
        aspect-ratio: 1;
        margin: 0;
      }

      .oracle-result-control {
        @include clickable-text;

        background: none !important;
        border: none !important;
        opacity: 0;
        visibility: hidden;
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        gap: var(--ironsworn-spacer-sm);
        padding: var(--ironsworn-spacer-sm);

        &.clickable.text {
          justify-content: center;
          align-items: center;
        }
      }

      &:hover {
        // hide row content and reveal controls on *table* hover
        .oracle-row-content {
          opacity: 0;
          visibility: hidden;
        }

        .oracle-result-control {
          opacity: 1;
          visibility: visible;
          color: inherit;
        }
      }
    }
  }

  // FIXME: is this still in use?
  .bonus-content .dice-formula {
    word-break: normal;
  }

  // September 2022: styling so that old messages don't have their overall layout disrupted. can probably be removed in a few versions.
  .hover-controls {
    display: none;
  }
}
