// styles specific to foundry-ironsworn's dialogs. For general dialog styles, see ./fvtt/dialog.scss

.preroll-dialog {
	display: flex;
	flex-direction: column;
	gap: var(--ironsworn-spacer-md);

	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.roll-trigger-text {
		margin: 0;
	}

	.trigger-options {
		margin: 0 0 var(--ironsworn-spacer-md);
	}

	.form-group,
	fieldset.form-group {
		border: none;
		padding: var(--ironsworn-spacer-md);
	}

	.advanced-roll-options {
		margin: var(--ironsworn-spacer-md) 0;
		border-width: var(--ironsworn-border-width-md);
		border-radius: var(--ironsworn-border-radius-lg);
		background-color: var(--ironsworn-color-fg-10);
		padding: var(--ironsworn-spacer-md);
	}

	.advanced-roll-options-toggle {
	}
}
