@import (reference) 'mixins';

[data-ironsworn-drop-type] {
  --ironsworn-drop-zone-outline-width: 3px;
  --ironsworn-drop-zone-outline-style: dotted;

  position: relative;
  outline: 0 var(--ironsworn-drop-zone-outline-style) transparent;
  transition: all 0.2s ease;

  &::after {
    @include overlay;

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    border-radius: inherit;

    @include static-highlight(20);
  }

  &[data-ironsworn-drop-active='true'] {
    outline-width: var(--ironsworn-drop-zone-outline-width);
    outline-color: var(--ironsworn-color-fg-warm-30);
    outline-offset: calc(-1 * var(--ironsworn-drop-zone-outline-width));
    animation: drop-zone-pulsate-outline 0.8s ease-in-out infinite both;

    &::after {
      opacity: 1;
      visibility: visible;
      background-blend-mode: screen;
      animation: drop-zone-pulsate-gradient 0.8s ease-in-out infinite both;
    }
  }
}

@keyframes drop-zone-pulsate-outline {
  0% {
    outline-offset: calc(-1 * var(--ironsworn-drop-zone-outline-width));
  }

  50% {
    outline-offset: calc(-2 * var(--ironsworn-drop-zone-outline-width));
  }

  100% {
    outline-offset: calc(-1 * var(--ironsworn-drop-zone-outline-width));
  }
}

@keyframes drop-zone-pulsate-gradient {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
