// styles for TinyMCE and ProseMirror editors
@import 'mixins.less';

.tox {
  :not(svg):not(rect) {
    color: var(--ironsworn-color-fg);
  }
  .tox-tinymce {
    border-radius: 0;
  }
  .tox-toolbar-overlord,
  .tox-toolbar__primary,
  &:not(.tox-tinymce-inline) .tox-editor-header {
    color: var(--ironsworn-color-fg);
    background-color: var(--ironsworn-color-bg);
  }
  .tox-edit-area {
    .inputFieldMixin();
  }
  .tox-tbtn {
    &--select {
      background: var(--ironsworn-color-input-bg);
    }
    transition: var(--std-animation);
    background-color: var(--ironsworn-color-clickable-block-bg);
    svg {
      fill: var(--ironsworn-color-clickable-block-fg);
      transition: var(--std-animation);
    }
    &:hover {
      background-color: var(--ironsworn-color-clickable-block-bg-hover);
      svg {
        fill: var(--ironsworn-color-clickable-block-fg-hover);
      }
    }
    &[aria-pressed='true'] {
      background-color: var(--ironsworn-color-clickable-block-bg-selected);
      svg {
        fill: var(--ironsworn-color-clickable-block-fg-selected);
      }
    }
  }
}
.editor {
  border-width: 0;
  height: 100%;
  min-height: 100px;
  .editor-content {
    height: inherit;
    min-height: inherit;
  }
  .editor-edit {
    .clickableBlockMixin(var(--ironsworn-border-width-md));
  }
}

.ProseMirror {
  .inputFieldMixin();
  padding: 0.5rem;
}
