// styles for icons

.icon {
  &::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}

// workaround to make FA easier to use as button decorations without adding a whole extra element. the pseudo-element is already there, and can be simply be attached to the parent element rather than it being an <i> element
.fa,
.fa-brands,
.fa-classic,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-sharp,
.fa-sharp-solid,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fass,
.fat {
  &:not(i) {
    -moz-osx-font-smoothing: inherit;
    speak: inherit;
    font-style: inherit;
    font-variant: inherit;
    text-rendering: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;

    &::before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: var(--fa-display, inline-block);
      font-style: normal;
      font-variant: normal;
      line-height: 1;
      text-rendering: auto;
    }
  }
}

.fa-thin,
.fat {
  &:not(i) {
    font-weight: unset;

    &::before {
      font-weight: 100;
    }
  }
}

.fa-light,
.fal {
  &:not(i) {
    font-weight: unset;

    &::before {
      font-weight: 300;
    }
  }
}

.fa-regular,
.far {
  &:not(i) {
    font-weight: unset;

    &::before {
      font-weight: 400;
    }
  }
}

.fa-solid,
.fas {
  &:not(i) {
    font-weight: unset;

    &::before {
      font-weight: 900;
    }
  }
}

.fa-classic,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fal,
.far,
.fas,
.fat {
  &:not(i) {
    &::before {
      font-family: 'Font Awesome 6 Pro';
    }
  }
}

[class^='isicon-']::before,
[class*=' isicon-']::before {
  content: '';
  display: inline-block;
  background-color: currentcolor; // inherits text color by default. any valid background is fine if you want to get fancy, though.
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  height: 1em; // height and width of the :before pseudo-element can be set as desired, these are just reasonable defaults that scale the current font size.
  width: 1em;

  .vertical-text & {
    transform: rotateZ(90deg);
  }
}

[class^='isiconbg-'],
[class*=' isiconbg-'],
[class^='isicon-'],
[class*=' isicon-'],
[class^='fa-'],
[class*=' fa-'] {
  i.juicy &,
  &:not(i).juicy::before {
    font-size: 120%;
  }
}

// BACKGROUND ICONS

[class^='isiconbg-'],
[class*=' isiconbg-'] {
  position: relative; // required for the pseudo-element's position to function
  z-index: 1;

  &::before {
    background-color: var(--ironsworn-color-fg-30);
    content: '';
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    z-index: var(--ironsworn-z-index-low);
    mask-origin: content-box; // this + above make this sensitive to padding on the :before pseudo-element.
  }
}

// additional CSS to maintain compatibility with FVTT's icon fonts until FVTT drops icon fonts
// if the icon needs to be clickable, IronBtn + FontIcon/IronIcon should be preferred instead
[class^='isicon-'],
[class*=' isicon-'] {
  i & {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    vertical-align: inherit;

    &::before {
      height: 100%;
      width: 100%;
    }
  }
}

i {
  &[class^='isicon-'],
  &[class*=' isicon-'] {
    display: flex;
    height: 1.5em;
    font-size: inherit;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;

    &::before {
      $padIcon: 2px;

      display: flex;
      height: calc(100% - ($padIcon*2));
      width: calc(100% - ($padIcon*2));
    }
  }
}

// these are configured to make adding them from game-icons.net take as little effort as possible
// HOW TO ADD AN ICON FROM GAME-ICONS.NET
// 1) use the game-icons studio, turn off the black background
// 2) download the icon as an svg and place it in system/assets/icons
// 3) add an entry to $icons hash object below

// alternatively, you can remove the black background element manually by editing the SVG's source
// generally it will be the first path element, and it'll look like one of the following, e.g.:
// <path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path>
// <path fill-rule="nonzero" d="M0 0h512v512H0z"/>

// icons require a key (the file name without the extension) and a value (a string describing the source information/credit).
// the value isn't used by any LESS functions, it's just to make it harder to forget to include source/credit info.
$icons: {
  // game logos
  logo-delve-dk: 'original icon by Shawn Tomkin; minor adjustments for FVTT format by rsek';
  logo-ironsworn-dk: 'original icon by Shawn Tomkin; minor adjustments for FVTT format by rsek';
  logo-starforged-dk: 'icon by rsek, based on illustrations by Joshua Meehan and icons Nathan Graey';

  // dice
  d6-blank: ''; // FIXME
  d10-blank: ''; // FIXME
  d10-tilt: ''; //
  oracle: 'icon by rsek';

  // PC sheets
  sheet-character: 'https://game-icons.net/1x1/delapouite/skills.html';
  sheet-shared: 'https://game-icons.net/1x1/delapouite/three-friends.html';

  // PC stats
  stat-edge: 'https://game-icons.net/1x1/delapouite/liberty-wing.html';
  stat-heart: 'https://game-icons.net/1x1/lorc/crowned-heart.html';
  stat-iron: 'https://game-icons.net/1x1/lorc/swords-emblem.html';
  stat-shadow: 'https://game-icons.net/1x1/lorc/double-face-mask.html';
  stat-wits: 'https://game-icons.net/1x1/lorc/star-pupil.html';

  // canvas tools
  creature: 'https://game-icons.net/1x1/lorc/dna1.html'; // Starforged. see 'monstrosity' for Delve creatures
  delve-site: 'https://game-icons.net/1x1/delapouite/dungeon-gate.html';
  derelict: 'https://game-icons.net/1x1/delapouite/crime-scene-tape.html';
  faction: 'https://game-icons.net/1x1/delapouite/vertical-banner.html';
  monstrosity: 'https://game-icons.net/1x1/lorc/beast-eye.html'; // AKA the creature oracles from delve
  npc: 'https://game-icons.net/1x1/lorc/drama-masks.html';
  precursor-vault: 'https://game-icons.net/1x1/lorc/moebius-triangle.html';
  region-sf: 'https://game-icons.net/1x1/delapouite/galaxy.html';
  sector: 'https://game-icons.net/1x1/skoll/hexes.html';
  settlement-is: 'https://game-icons.net/1x1/delapouite/huts-village.html';
  settlement-sf: 'https://game-icons.net/1x1/delapouite/modern-city.html';
  starship: 'https://game-icons.net/1x1/delapouite/spaceship.html';
  stellar-object: 'https://game-icons.net/1x1/lorc/star-prominences.html';
  waypoint: 'https://game-icons.net/1x1/delapouite/position-marker.html';
  world: 'https://game-icons.net/1x1/lorc/ringed-planet.html';
};

@each($icons, {
  .isicon-#{$key}, .isiconbg-#{$key} {
    &:before {
      mask-image: url('/assets/icons/#{$key}.svg');
    }}
  });
