// styles for form input elements. for ProseMirror and TinyMCE styles, see editors.less.
@import 'mixins.less';

*::placeholder {
  font-family: inherit;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'],
input[type='time'],
input[type='search'] {
  .inputFieldMixin();
}
textarea {
  .inputFieldMixin();
}
select {
  .inputFieldMixin();
}
input {
  &[type='number'] {
    -moz-appearance: auto;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: button !important;
      opacity: 1 !important;
    }
  }
}

// CHECKBOXES
input[type='checkbox'] {
  accent-color: var(--ironsworn-color-fg);
  cursor: pointer;
}
label.checkbox {
  cursor: pointer;
}
// RADIO BUTTONS
input[type='radio'] {
  accent-color: var(--ironsworn-color-fg);
  cursor: pointer;
}

// RANGE SLIDERS

input[type='range'] {
  @sliderThumbBgColor: var(--ironsworn-color-fg);
  @sliderThumbBorderColor: var(--ironsworn-color-cool-50);
  @sliderThumbBgColorFocus: var(--ironsworn-color-fg);
  @sliderThumbBorderColorFocus: var(--ironsworn-color-warm-90);
  @sliderThumbHeight: 12px;
  @sliderThumbWidth: 12px;

  @sliderTrackHeight: 6px;
  @sliderTrackBorderRadius: (@sliderTrackHeight / 2);
  @sliderTrackBgColor: var(--ironsworn-color-fg-20);
  @sliderTrackBorderColor: var(--ironsworn-color-fg-20);
  @sliderTrackBgColorFocus: var(--ironsworn-color-warm-20);
  @sliderTrackBorderColorFocus: var(--ironsworn-color-cool-50);
  @sliderBoxShadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

  background: transparent;
  -webkit-appearance: none;
  height: 20px;
  margin: 0;
  width: 100%;

  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: @sliderTrackHeight;
    cursor: pointer;
    box-shadow: @sliderBoxShadow;
    background: @sliderTrackBgColor;
    border-radius: @sliderTrackBorderRadius;
    border: 1px solid @sliderTrackBorderColor;
  }
  &::-webkit-slider-thumb {
    box-shadow: @sliderBoxShadow;
    border: 1px solid @sliderThumbBorderColor;
    height: @sliderThumbHeight;
    width: @sliderThumbWidth;
    border-radius: 2px;
    background: @sliderThumbBgColor;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }
  &:focus::-webkit-slider-runnable-track {
    background: @sliderTrackBgColorFocus;
    border-color: @sliderTrackBorderColorFocus;
  }
  &::-moz-range-track {
    width: 100%;
    height: @sliderTrackHeight;
    cursor: pointer;
    box-shadow: @sliderBoxShadow;
    background: @sliderTrackBgColor;
    border-radius: @sliderTrackBorderRadius;
    border: 1px solid @sliderTrackBorderColor;
  }
  &::-moz-range-thumb {
    box-shadow: @sliderBoxShadow;
    border: 1px solid @sliderThumbBorderColor;
    height: @sliderThumbHeight;
    width: @sliderThumbWidth;
    border-radius: 2px;
    background: @sliderThumbBgColor;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: @sliderTrackHeight;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: #8c8c8c;
    border: 1px solid @sliderTrackBorderColor;
    border-radius: @sliderTrackHeight;
    box-shadow: @sliderBoxShadow;
  }
  &:focus::-ms-fill-lower {
    background: @sliderTrackBgColor;
    border-color: @sliderTrackBorderColorFocus;
  }
  &::-ms-fill-upper {
    background: @sliderTrackBgColor;
    border: 1px solid @sliderTrackBorderColor;
    border-radius: @sliderTrackHeight;
    box-shadow: @sliderBoxShadow;
  }
  &:focus::-ms-fill-upper {
    background: @sliderTrackBgColorFocus;
    border-color: @sliderTrackBorderColorFocus;
  }
  &::-ms-thumb {
    box-shadow: @sliderBoxShadow;
    border: 1px solid @sliderThumbBorderColor;
    height: @sliderThumbHeight;
    width: @sliderThumbWidth;
    border-radius: 2px;
    background: @sliderThumbBgColor;
    cursor: pointer;
  }
  input[type='range'] + .range-value {
    display: block;
    flex: 0 1 48px;
    text-align: center;
    border: 1px solid var(--ironsworn-color-fg);
    padding: 2px;
    margin-left: 10px;
    .inputFieldStaticMixin();
  }
}
