// styles for form input elements. for ProseMirror and TinyMCE styles, see editors.scss.
// the main style sheet scopes these to .ironsworn, so import them again globally if you want to retheme the form inputs on the UX elements that belong to FVTT.
@use 'mixins';

*::placeholder {
  font-family: inherit;
}

select {
  @include mixins.input-field;

  border-style: outset;
}

textarea {
  @include mixins.input-field;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'],
input[type='time'],
input[type='search'] {
  @include mixins.input-field;
}

// CHECKBOXES
input[type='checkbox'] {
  accent-color: var(--ironsworn-color-fg);
  cursor: pointer;
}

label.checkbox {
  cursor: pointer;
}

// RADIO BUTTONS
input[type='radio'] {
  accent-color: var(--ironsworn-color-fg);
  cursor: pointer;
}

// NUMBER SPINNERS
input[type='number'] {
  appearance: auto;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: button !important;
    opacity: 1 !important;
  }
}

// RANGE SLIDERS

input[type='range'] {
  $slider-thumb-bg-color: var(--ironsworn-color-fg);
  $slider-thumb-border-color: var(--ironsworn-color-cool-50);
  $slider-thumb-bg-color-focus: var(--ironsworn-color-fg);
  $slider-thumb-border-color-focus: var(--ironsworn-color-warm-90);
  $slider-thumb-height: 12px;
  $slider-thumb-width: 12px;
  $slider-track-height: 6px;
  $slider-track-border-radius: calc($slider-track-height / 2);
  $slider-track-bg-color: var(--ironsworn-color-fg-20);
  $slider-track-border-color: var(--ironsworn-color-fg-20);
  $slider-track-bg-color-focus: var(--ironsworn-color-warm-20);
  $slider-track-border-color-focus: var(--ironsworn-color-cool-50);
  $slider-box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;

  appearance: none;
  margin: 0;
  background: transparent;
  width: 100%;
  height: 20px;

  &::-webkit-slider-runnable-track {
    border: 1px solid $slider-track-border-color;
    border-radius: $slider-track-border-radius;
    box-shadow: $slider-box-shadow;
    background: $slider-track-bg-color;
    cursor: pointer;
    width: 100%;
    height: $slider-track-height;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -4px;
    border: 1px solid $slider-thumb-border-color;
    border-radius: 2px;
    box-shadow: $slider-box-shadow;
    background: $slider-thumb-bg-color;
    cursor: pointer;
    width: $slider-thumb-width;
    height: $slider-thumb-height;
  }

  &::-moz-range-track {
    border: 1px solid $slider-track-border-color;
    border-radius: $slider-track-border-radius;
    box-shadow: $slider-box-shadow;
    background: $slider-track-bg-color;
    cursor: pointer;
    width: 100%;
    height: $slider-track-height;
  }

  &::-moz-range-thumb {
    border: 1px solid $slider-thumb-border-color;
    border-radius: 2px;
    box-shadow: $slider-box-shadow;
    background: $slider-thumb-bg-color;
    cursor: pointer;
    width: $slider-thumb-width;
    height: $slider-thumb-height;
  }

  &::-ms-track {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: $slider-track-height;
    color: transparent;
  }

  &::-ms-fill-lower {
    border: 1px solid $slider-track-border-color;
    border-radius: $slider-track-height;
    box-shadow: $slider-box-shadow;
    background: #8c8c8c;
  }

  &::-ms-fill-upper {
    border: 1px solid $slider-track-border-color;
    border-radius: $slider-track-height;
    box-shadow: $slider-box-shadow;
    background: $slider-track-bg-color;
  }

  &::-ms-thumb {
    border: 1px solid $slider-thumb-border-color;
    border-radius: 2px;
    box-shadow: $slider-box-shadow;
    background: $slider-thumb-bg-color;
    cursor: pointer;
    width: $slider-thumb-width;
    height: $slider-thumb-height;
  }

  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-runnable-track {
    border-color: $slider-track-border-color-focus;
    background: $slider-track-bg-color-focus;
  }

  &:focus::-ms-fill-lower {
    border-color: $slider-track-border-color-focus;
    background: $slider-track-bg-color;
  }

  &:focus::-ms-fill-upper {
    border-color: $slider-track-border-color-focus;
    background: $slider-track-bg-color-focus;
  }

  input[type='range'] + .range-value {
    @include mixins.input-field-static;

    display: block;
    flex: 0 1 48px;
    margin-left: 10px;
    border: 1px solid var(--ironsworn-color-fg);
    padding: 2px;
    text-align: center;
  }
}
