@import 'mixins.less';
@import 'clickable.less';

.inputFieldMixin(@spread:4px) {
  color: var(--ironsworn-color-fg);
  background: var(--ironsworn-color-input-bg);
  border-style: inset;
  transition: var(--std-animation);
  border-width: 1px;
  border-radius: 3px;
  border-color: var(--ironsworn-color-border-muted);
  &::placeholder {
    color: var(--ironsworn-color-fg);
    opacity: 0.5;
  }
  &:hover {
    color: var(--ironsworn-color-clickable-block-fg-hover);
    border-color: var(--ironsworn-color-clickable-block-border);
    .borderGlowInteriorMixin(@spread,0,var(--color-shadow-primary));
  }
  &:focus,
  &:focus-within {
    @spread: 7px;
    color: var(--ironsworn-color-fg-highlight);
    .borderGlowExteriorMixin(@spread);
    border-style: solid;
  }
}

input:not([type='checkbox']):not([type='radio']):not([type='range']),
textarea,
select {
  .inputFieldMixin();
}

textarea,
input {
  caret-color: var(--ironsworn-color-fg-highlight);
}
// EDITORS
.tox {
  :not(svg):not(rect) {
    color: var(--ironsworn-color-fg);
  }
  .tox-toolbar-overlord,
  .tox-toolbar__primary,
  &:not(.tox-tinymce-inline) .tox-editor-header {
    color: var(--ironsworn-color-fg);
    background-color: var(--ironsworn-color-bg);
  }
  .tox-tbtn {
    &--select {
      background: var(--ironsworn-color-input-bg);
    }
    transition: var(--std-animation);
    background-color: var(--ironsworn-color-clickable-block-bg);
    svg {
      fill: var(--ironsworn-color-clickable-block-fg);
      transition: var(--std-animation);
    }
    &:hover {
      background-color: var(--ironsworn-color-clickable-block-bg-hover);
      svg {
        fill: var(--ironsworn-color-clickable-block-fg-hover);
      }
    }
    &[aria-pressed='true'] {
      background-color: var(--ironsworn-color-clickable-block-bg-selected);
      svg {
        fill: var(--ironsworn-color-clickable-block-fg-selected);
      }
    }
  }
}
.editor {
  border: 1px solid;
  border-radius: 5px;
}
.editor-content {
  .inputFieldMixin();
}

.ProseMirror {
  .inputFieldMixin();
  padding: 0.5rem;
}

.editor,
.editor-content {
  height: 100%;
  min-height: 100px;
}

input {
  &[type='checkbox'],
  &[type='radio'] {
    accent-color: var(--ironsworn-color-fg);
    cursor: pointer;
  }
}
label.checkbox {
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: auto;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: button !important;
    opacity: 1 !important;
  }
}
