// styles for form input elements. for ProseMirror and TinyMCE styles, see editors.less.
// the main style sheet scopes these to .ironsworn, so import them again globally if you want to retheme the form inputs on the UX elements that belong to FVTT.
@import url('mixins.less');

*::placeholder {
  font-family: inherit;
}

select {
  .inputFieldMixin();

  border-style: outset;
}

textarea {
  .inputFieldMixin();
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'],
input[type='time'],
input[type='search'] {
  .inputFieldMixin();
}

// CHECKBOXES
input[type='checkbox'] {
  accent-color: var(--ironsworn-color-fg);
  cursor: pointer;
}

label.checkbox {
  cursor: pointer;
}
// RADIO BUTTONS
input[type='radio'] {
  accent-color: var(--ironsworn-color-fg);
  cursor: pointer;
}
// NUMBER SPINNERS
input[type='number'] {
  appearance: auto;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: button !important;
    opacity: 1 !important;
  }
}

// RANGE SLIDERS

input[type='range'] {
  appearance: none;
  margin: 0;
  background: transparent;
  width: 100%;
  height: 20px;

  &::-webkit-slider-runnable-track {
    border: 1px solid @sliderTrackBorderColor;
    border-radius: @sliderTrackBorderRadius;
    box-shadow: @sliderBoxShadow;
    background: @sliderTrackBgColor;
    cursor: pointer;
    width: 100%;
    height: @sliderTrackHeight;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -4px;
    border: 1px solid @sliderThumbBorderColor;
    border-radius: 2px;
    box-shadow: @sliderBoxShadow;
    background: @sliderThumbBgColor;
    cursor: pointer;
    width: @sliderThumbWidth;
    height: @sliderThumbHeight;
  }

  &::-moz-range-track {
    border: 1px solid @sliderTrackBorderColor;
    border-radius: @sliderTrackBorderRadius;
    box-shadow: @sliderBoxShadow;
    background: @sliderTrackBgColor;
    cursor: pointer;
    width: 100%;
    height: @sliderTrackHeight;
  }

  &::-moz-range-thumb {
    border: 1px solid @sliderThumbBorderColor;
    border-radius: 2px;
    box-shadow: @sliderBoxShadow;
    background: @sliderThumbBgColor;
    cursor: pointer;
    width: @sliderThumbWidth;
    height: @sliderThumbHeight;
  }

  &::-ms-track {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    width: 100%;
    height: @sliderTrackHeight;
    color: transparent;
  }

  &::-ms-fill-lower {
    border: 1px solid @sliderTrackBorderColor;
    border-radius: @sliderTrackHeight;
    box-shadow: @sliderBoxShadow;
    background: #8c8c8c;
  }

  &::-ms-fill-upper {
    border: 1px solid @sliderTrackBorderColor;
    border-radius: @sliderTrackHeight;
    box-shadow: @sliderBoxShadow;
    background: @sliderTrackBgColor;
  }

  &::-ms-thumb {
    border: 1px solid @sliderThumbBorderColor;
    border-radius: 2px;
    box-shadow: @sliderBoxShadow;
    background: @sliderThumbBgColor;
    cursor: pointer;
    width: @sliderThumbWidth;
    height: @sliderThumbHeight;
  }

  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-runnable-track {
    border-color: @sliderTrackBorderColorFocus;
    background: @sliderTrackBgColorFocus;
  }

  &:focus::-ms-fill-lower {
    border-color: @sliderTrackBorderColorFocus;
    background: @sliderTrackBgColor;
  }

  &:focus::-ms-fill-upper {
    border-color: @sliderTrackBorderColorFocus;
    background: @sliderTrackBgColorFocus;
  }

  input[type='range'] + .range-value {
    display: block;
    flex: 0 1 48px;
    margin-left: 10px;
    border: 1px solid var(--ironsworn-color-fg);
    padding: 2px;
    text-align: center;
    .inputFieldStaticMixin();
  }
  @sliderThumbBgColor: var(--ironsworn-color-fg);
  @sliderThumbBorderColor: var(--ironsworn-color-cool-50);
  @sliderThumbBgColorFocus: var(--ironsworn-color-fg);
  @sliderThumbBorderColorFocus: var(--ironsworn-color-warm-90);
  @sliderThumbHeight: 12px;
  @sliderThumbWidth: 12px;

  @sliderTrackHeight: 6px;
  @sliderTrackBorderRadius: (@sliderTrackHeight / 2);
  @sliderTrackBgColor: var(--ironsworn-color-fg-20);
  @sliderTrackBorderColor: var(--ironsworn-color-fg-20);
  @sliderTrackBgColorFocus: var(--ironsworn-color-warm-20);
  @sliderTrackBorderColorFocus: var(--ironsworn-color-cool-50);
  @sliderBoxShadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
