.ironsworn-roll {
  h3,
  button {
    .initialCapsMixin();
  }
  .hit-type {
    font-weight: bold;
    font-variant: all-small-caps;
  }

  [class*=' isiconbg-'],
  [class^='isiconbg-'] {
    &:before {
      background-color: var(--ironsworn-color-bg-highlight);
    }
  }

  @dice-glow-offset: 0px 0px 5px;

  .roll {
    @rollSize: 24px;
    width: @rollSize;
    line-height: @rollSize;
    display: inline-block;
    margin-right: var(--ironsworn-border-width-md);
    background-repeat: no-repeat;
    background-size: @rollSize @rollSize;
    font-weight: bold;
    text-align: center;
    @diceBg: var(--ironsworn-dice-background);

    &.d4 {
      background-image: url('../../icons/svg/d4-grey.svg');
    }

    &.d6 {
      background-color: @diceBg;
      mask-image: url('/assets/icons/d6-blank.svg');
      content: '';
    }

    &.d8 {
      background-image: url('../../icons/svg/d8-grey.svg');
    }

    &.d10 {
      background-color: @diceBg;
      mask-image: url('/assets/icons/d10-blank.svg');
      content: '';
    }

    &.d12 {
      background-image: url('../../icons/svg/d12-grey.svg');
    }

    &.d20 {
      background-image: url('../../icons/svg/d20-grey.svg');
    }

    &.min:not(.challenge),
    &.challenge.max {
      color: var(--ironsworn-color-danger) !important;
      filter: drop-shadow(
        @dice-glow-offset var(--ironsworn-color-danger-faded)
      );
    }

    &.max:not(.challenge),
    &.challenge.min {
      color: var(--ironsworn-color-success) !important;
      filter: drop-shadow(
        @dice-glow-offset var(--ironsworn-color-success-faded)
      );
    }

    &.canceled {
      color: var(--ironsworn-color-warning) !important;
      filter: drop-shadow(
        @dice-glow-offset var(--ironsworn-color-warning-faded)
      ) !important;
    }
  }

  del .roll {
    text-decoration: line-through;
    color: var(--ironsworn-color-warning) !important;
    filter: drop-shadow(
      @dice-glow-offset var(--ironsworn-color-warning-faded)
    ) !important;
  }
}

.ironsworn-roll {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
