// typography mixins

// special effects

// used to mark focused fields. a few FVTT buttons/tabs use it as a hover effect, too.
.borderGlowExteriorMixin(@spread:10px) {
  outline: none;
  border-color: var(--color-border-highlight-alt);
  border-bottom-color: var(--color-border-highlight);
  box-shadow: 0 0 @spread var(--color-shadow-highlight);
  // FIXME: adjust these specific transition properties to make gaining focus feel a bit snappier
}

// used inside block/tab like elements. it's inset so that both the focus effect and the hover effect can be visible at once.
.borderGlowInteriorMixin(@spread:5px,@blur:0,@color:var(--color-shadow-primary)) {
  box-shadow: inset 0 0 @spread @blur @color;
}

.borderGlowInteriorMixinStrong(@spread:10px,@blur:0,@color:var(--color-shadow-primary)) {
  box-shadow: inset 0 0 @spread @blur @color, inset 0 0 @spread @blur @color;
}

.textGlowMixin(@color:var(--ironsworn-color-fg-highlight),@spread:10px) {
  text-shadow: 0 0 @spread @color;
}

// used for e.g. hover effects. resembles a transparent overlay (with a subtle gradient) without having to do any interpolation or set additional variables.
.overlayGlowMixin(@blockSize:20px, @color:var(--ironsworn-color-clickable-block-bg-selected)) {
  .borderGlowInteriorMixin(calc(@blockSize / 2),0,@color);
}

// applies thematic colours to some hover/selection effects.
.thematicHoverMixin(@color:var(--ironsworn-color-thematic)) {
  --ironsworn-color-clickable-block-bg-selected: @color;
  .textStrokeMixin();
}

// applies a background of the theme colour, and strokes the text to ensure contrast.
.thematicBgMixin(@thematicColor, @fgColor:var(--ironsworn-color-light)) {
  background-color: @thematicColor;
  color: @fgColor;
  .textStrokeMixin();
}

.svgWidgetMixin() {
  stroke: var(--ironsworn-color-widget-stroke);
  fill: var(--ironsworn-color-clickable-block-bg-selected);
}

.borderFloatingMixin {
  border-style: outset;
  border-color: var(--ironsworn-color-border-muted);
}
