$scrollbar-thumb-bg-color: var(--ironsworn-color-fg-50);
$scrollbar-thumb-border-color: var(--ironsworn-color-warm-50);
$scrollbar-track-color: var(--ironsworn-color-fg-50);
$scrollbar-width: 6px;

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  box-shadow: 0 0 1px var(--ironsworn-color-cool-50) inset;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border: 1px solid $scrollbar-thumb-border-color;
  border-radius: calc($scrollbar-width / 2);
  background: $scrollbar-thumb-bg-color;
}

:root {
  scrollbar-color: $scrollbar-thumb-bg-color $scrollbar-track-color;
  scrollbar-gutter: auto;
  scrollbar-width: thin;
}
