@import 'mixins.scss';

$scrollbarThumbBgColor: var(--ironsworn-color-fg-50);
$scrollbarThumbBorderColor: var(--ironsworn-color-warm-50);
$scrollbarTrackColor: var(--ironsworn-color-fg-50);
$scrollbarWidth: 6px;

::-webkit-scrollbar {
  width: $scrollbarWidth;
  height: $scrollbarWidth;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 1px var(--ironsworn-color-cool-50) inset;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: ($scrollbarWidth / 2);
  background: $scrollbarThumbBgColor;
  border: 1px solid $scrollbarThumbBorderColor;
}
:root {
  scrollbar-width: thin;
  scrollbar-color: $scrollbarThumbBgColor $scrollbarTrackColor;
  scrollbar-gutter: auto;
}
