/* stylelint-disable mavrin/stylelint-declaration-use-css-custom-properties */

* {
	--ironsworn-scrollbar-thumb-bg-color: var(--ironsworn-color-fg-50);
	--ironsworn-scrollbar-thumb-border-color: var(--ironsworn-color-warm-50);
	--ironsworn-scrollbar-track-color: var(--ironsworn-color-fg-50);
	--ironsworn-scrollbar-width: 6px;

	scrollbar-color: var(--ironsworn-scrollbar-thumb-bg-color)
		var(--ironsworn-scrollbar-track-color);
	scrollbar-gutter: auto;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: var(--ironsworn-scrollbar-width);
	height: var(--ironsworn-scrollbar-width);
}

::-webkit-scrollbar-track {
	border-radius: 4px;
	box-shadow: 0 0 1px var(--ironsworn-color-cool-50) inset;
}

::-webkit-scrollbar-thumb {
	outline: none;
	border: 1px solid var(--ironsworn-scrollbar-thumb-border-color);
	border-radius: calc(var(--ironsworn-scrollbar-width) / 2);
	background: var(--ironsworn-scrollbar-thumb-bg-color);
}
