#sidebar-tabs {
  border-color: var(--ironsworn-color-border-faded);
  box-shadow: 0 0 10px var(--ironsworn-color-fg-faded);

  .item {
    color: var(--ironsworn-color-fg-faded);
    &.active {
      color: var(---ironsworn-color-fg-highlight);
      border-color: var(--ironsworn-color-border-faded);
      box-shadow: 0 0 6px inset var(--ironsworn-color-fg-faded);
      text-shadow: 0 0 10px var(--ironsworn-color-fg-faded);
    }
  }

  #chat-controls {
    .roll-type-select {
      background-color: var(--ironsworn-color-bg-faded);
    }
  }

  .directory {
    .directory-header .header-search input {
      background-color: var(--ironsworn-color-bg-faded);
    }
  }
}
