@import 'clickable.less';
@import 'mixins.less';

#sidebar {
  button {
    .clickableBlockMixin();
    border-width: 1px;
    border-style: solid;
    border-radius: var(--ironsworn-border-radius-md);
  }

  #sidebar-tabs {
    .item {
      .clickableTextMixin();
      margin: 0;
      .tabTopMixin();
      color: var(--ironsworn-color-clickable-block-fg);
      border-color: transparent;
    }
    .collapse {
      .clickableBlockMixin();
    }
  }
  .directory {
    .directory-item {
      .document-name {
        cursor: pointer;
        .clickableBlockMixin();
        margin: 0;
        padding-left: 8px;
      }
    }
  }
}
