@import 'mixins.less';
@import 'unscoped-overrides.less';

::-webkit-scrollbar-track {
  box-shadow: 0 0 1px hsl(0, 0%, 60%) inset;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: var(--ironsworn-border-radius-md);
  background: hsl(0, 0%, 27%);
  border: 1px solid hsl(0, 0%, 13%);
}
:root {
  --std-animation: all 0.5s ease;
  --fa-display: inline-block;

  // original sample from PDF: #c9181a
  --ironsworn-color-red-light: hsl(355, 100%, 65%);
  --ironsworn-color-red: hsl(7, 78%, 51%);
  --ironsworn-color-red-dark: hsl(357, 100%, 28%);

  // original sample from PDF: #8c1d81
  --ironsworn-color-purple-light: hsl(298, 72%, 62%);
  --ironsworn-color-purple: hsl(299, 59%, 45%);
  --ironsworn-color-purple-dark: hsl(296, 100%, 23%);

  // original sample from PDF: #35a9e0
  --ironsworn-color-blue-light: hsl(191, 100%, 50%);
  --ironsworn-color-blue: hsl(199, 100%, 47%);
  --ironsworn-color-blue-dark: hsl(214, 100%, 45%);

  --ironsworn-color-legacy-quests: var(--ironsworn-color-red);
  --ironsworn-color-legacy-bonds: var(--ironsworn-color-purple);
  --ironsworn-color-legacy-discoveries: var(--ironsworn-color-blue);

  --ironsworn-color-danger: hsl(0, 80%, 40%);
  --ironsworn-color-danger-faded: hsl(0, 80%, 40%);
  --ironsworn-color-danger-inverted: hsl(0, 0%, 100%);
  --ironsworn-color-warning: hsl(55, 100%, 50%);
  --ironsworn-color-warning-faded: hsl(55, 100%, 50%);
  --ironsworn-color-success: hsl(200, 80%, 40%);
  --ironsworn-color-success-faded: hsl(200, 80%, 40%);

  // VARIABLES: DIMENSIONS FOR SPACERS, BORDERS, ETC
  --widget-stroke-width: 1;

  --widget-fill-opacity-preview: 0.5;

  --ironsworn-border-radius-sm: 2px;
  --ironsworn-border-radius-md: 3px;
  --ironsworn-border-radius-lg: 5px;

  --ironsworn-border-width-md: 1px;
  --ironsworn-border-width-lg: 2px;

  --ironsworn-spacer-xs: 2px;
  --ironsworn-spacer-sm: 3px;
  --ironsworn-spacer-md: 5px;
  --ironsworn-spacer-lg: 7px;

  --ironsworn-vertical-slider-width: 50px;
  --ironsworn-clickable-line-height: 28px;

  --ironsworn-z-index-highest: 100;
  --ironsworn-z-index-higher: 75;
  --ironsworn-z-index-high: 25;
  --ironsworn-z-index-low: -1;
  --ironsworn-z-index-lower: -2;
  --ironsworn-z-index-lowest: -3;
}

.system-foundry-ironsworn {
  .grid {
    display: grid;
  }

  border-color: var(--ironsworn-color-border);
  font-family: var(--font-primary);

  hr {
    width: 100%;
    border: none;
    border-width: 0 0 1px;
    border-style: solid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }
  h1,
  h2,
  h3 {
    border: none;
  }
  *::placeholder {
    font-family: inherit;
  }

  button {
    transition: var(--std-animation);
    border-radius: unset;
    width: unset;
    margin: unset;
    background: unset;
    // font-size: unset;
    // line-height: unset;
    font-family: inherit;
    cursor: pointer;
    &:hover,
    &:focus {
      // background: unset;
      // border: unset;
      outline: none;
      box-shadow: unset;
    }
  }
  .window-content {
    height: 100%;
    padding: 5px;
    scrollbar-width: thin;
  }

  .sheet-area {
    border-top-width: 2px;
    &:first-child {
      border-top-width: 0;
    }
    margin: 5px;
    padding-top: 7px;
  }

  .marginMixin(@direction) {
    @spacer: 5px;
    flex: 0;
    border-@{direction}-style: solid;
    position: relative;
    border-@{direction}-width: 1px;
    margin-@{direction}: @spacer;
  }

  .margin-left {
    .marginMixin(right);
  }

  .margin-right {
    .marginMixin(left);
  }
  .item-list {
    flex: 1 0 100px;
    overflow-y: scroll;
    scrollbar-width: thin;

    .move {
      overflow-x: hidden;
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;

      & > h2 {
        text-align: center;
        border-width: 1px 0;
      }
    }
  }

  .vertical {
    writing-mode: vertical-lr;
    border: none;
    width: 1.5rem;

    i {
      display: inline-block;
      transform: rotate(90deg);
    }
  }

  .stack {
    flex-grow: 0;

    .stack-row {
      // FIXME refactor as component and encapsulate the relevant css there
      flex: 0 0 auto;
      min-width: 50px;
      border: 1px solid;
      border-top: none;
      text-align: center;
      line-height: 28px;
      position: relative;
      z-index: 1;
      padding: 0;
      &:hover,
      &.hover,
      &.selected,
      &[aria-selected='true'] {
        z-index: 10; // with position: relative, ensures that hovered item borders/filters aren't rendered behind other items
      }
      &:first-child {
        border-top: 1px solid;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      input[type='radio'] {
        appearance: none;
      }
    }
  }

  // TODO: restructure this styling so that it also applies to dialog-buttons. probably with mixins?

  &.dialog .dialog-buttons button {
    // .interactive();
    // TODO: reimplement the above when updating roll dialog
    display: flex;
    align-items: center;
    justify-content: center;
    .button-text {
      .clickable();
      .nogrow();
      .initial-caps();
      width: max-content;
      height: max-content;
    }

    i {
      height: 18px;
      width: 18px;
    }
  }

  .stats {
    flex: 0;
    justify-content: space-around;

    .stat {
      flex: 0 0 75px;
      border-width: var(--ironsworn-border-width-md);
      border-radius: var(--ironsworn-border-radius-lg);
      text-align: center;
      padding: 0.5rem 0;

      h3 {
        margin: 0;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 22px;
      }

      h4 {
        margin: 0;
        font-weight: bold;
      }

      input {
        width: 50%;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
      }
    }

    .edit {
      flex: 0 0 30px;
      justify-items: center;
      align-items: center;
      border: 1px solid;
      transition: var(--std-animation);
    }
  }

  .compact {
    h2,
    h3,
    h4,
    h5 {
      margin: 3px 0;
      border: none;
    }
  }

  .boxgroup {
    border: 1px solid;
    border-radius: var(--ironsworn-border-radius-lg);

    .boxrow {
      border-top: 1px solid;
      &:first-child {
        border-top: none;
      }

      &.small {
        flex-basis: 25px;
        line-height: 25px;
        flex-grow: 0;
      }
    }

    .box {
      display: flex;
      text-align: center;
      justify-content: center;
      border-left: 1px solid;
      &:first-child {
        border-left: none;
      }
    }
  }

  .inset {
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: var(--ironsworn-border-radius-md);
  }

  .remove-option {
    flex-grow: 0;
    line-height: 26px;
  }

  .item-row {
    border: 1px solid;
    border-radius: var(--ironsworn-border-radius-sm);
    padding: 3px;
    margin: 3px 0;

    .item-row-control {
      flex-grow: 0;
      padding: 5px;
    }
  }

  .progresses {
    .item {
      border: 1px solid;
      border-radius: var(--ironsworn-border-radius-md);
      padding: 5px;
      margin: 5px;
    }
  }

  .progress-button {
    i {
      padding: 3px;
      width: 22px;
      text-align: center;
    }
  }

  .resource {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    float: left;
    text-align: center;

    input {
      width: 100px;
      height: 28px;
    }
  }
  &.sheet {
    &.actor {
      min-width: 630px;
    }
    &.item {
      min-width: 460px;
      min-height: 400px;
    }
  }

  .sheet-body {
    height: 100%;
    overflow: hidden;

    .tab {
      height: 100%;
      overflow-y: auto;
    }
  }

  .move-li {
    height: 1.5rem;
  }

  /* Items List */
  .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    // overflow-y: auto;

    .item {
      height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid;

      img {
        flex: 0 0 24px;
        margin-right: 5px;
      }
    }

    .item-name {
      margin: 0;
    }

    .item-controls {
      flex: 0 0 36px;
    }
  }

  .progress {
    flex: 1;
    border: 1px solid;
    padding: 5px;
    margin: 2px;
    text-align: center;
  }

  .nogrow {
    flex-grow: 0;
  }

  .strikethru * {
    text-decoration: line-through;
  }

  .move-title {
    text-align: center;
    border: 1px solid;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 30px;
    font-variant: all-small-caps;
  }

  .sheet.moves {
    .tab {
      display: none;

      &.active {
        display: flex;
      }
    }
  }

  .ironsworn-roll {
    h3,
    button {
      .initial-caps();
    }
    .hit-type {
      font-weight: bold;
      font-variant: all-small-caps;
    }

    [class*=' isiconbg-'],
    [class^='isiconbg-'] {
      &:before {
        background-color: var(--ironsworn-color-bg-alt);
      }
    }

    @dice-glow-offset: 0px 0px 5px;

    .roll {
      width: 24px;
      line-height: 24px;
      display: inline-block;
      margin-right: 1px;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      font-weight: bold;
      text-align: center;

      &.d4 {
        background-image: url('../../icons/svg/d4-grey.svg');
      }

      &.d6 {
        background-color: var(--ironsworn-color-bg-alt);
        mask-image: url('/assets/icons/d6-blank.svg');
        content: '';
      }

      &.d8 {
        background-image: url('../../icons/svg/d8-grey.svg');
      }

      &.d10 {
        background-color: var(--ironsworn-color-bg-alt);
        mask-image: url('/assets/icons/d10-blank.svg');
        content: '';
      }

      &.d12 {
        background-image: url('../../icons/svg/d12-grey.svg');
      }

      &.d20 {
        background-image: url('../../icons/svg/d20-grey.svg');
      }

      &.min:not(.challenge),
      &.challenge.max {
        color: var(--ironsworn-color-danger) !important;
        filter: drop-shadow(
          @dice-glow-offset var(--ironsworn-color-danger-faded)
        );
      }

      &.max:not(.challenge),
      &.challenge.min {
        color: var(--ironsworn-color-success) !important;
        filter: drop-shadow(
          @dice-glow-offset var(--ironsworn-color-success-faded)
        );
      }

      &.canceled {
        color: var(--ironsworn-color-warning) !important;
        filter: drop-shadow(
          @dice-glow-offset var(--ironsworn-color-warning-faded)
        ) !important;
      }
    }

    del .roll {
      text-decoration: line-through;
      color: var(--ironsworn-color-warning) !important;
      filter: drop-shadow(
        @dice-glow-offset var(--ironsworn-color-warning-faded)
      ) !important;
    }
  }

  .bonus-content .dice-formula {
    word-break: normal;
  }

  // roll-graphic.hbs

  @graphic-gap: 0.25rem;

  .ironsworn-roll {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .roll-graphic.dice-formula {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    gap: @graphic-gap;
    justify-content: center;
    margin: 0;
    padding: @graphic-gap;
    * {
      margin: 0;
    }

    .die {
      flex-grow: 0;
    }
    .indeterminate-value {
      opacity: 0.5;
    }
    .action-score-capped {
      text-decoration: dotted underline;
    }
    .score {
      font-weight: bold;
      border: 2px solid var(--ironsworn-color-border-highlight);
      border-radius: 50%;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .challenge-dice {
      display: flex;
      flex-direction: row;
      flex-grow: 0;
      gap: (@graphic-gap / 2);
      .challenge-die {
      }
    }
  }

  .outcome-shortcuts {
    display: contents;
  }
  .roll-outcome {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
    * {
      margin: 0;
    }

    .outcome-label {
      text-align: center;
      text-transform: uppercase;
      font-size: larger;
      span {
        display: inline;
        white-space: nowrap;
      }
      .outcome-text {
        font-weight: bold;
      }
    }
  }
  // preroll-dialog.hbs
  .preroll-dialog {
    display: flex;
    flex-direction: column;
    gap: 5px;
    button {
      .initial-caps();
    }

    .form-group {
      padding: 0;
      border: none;
    }

    .advanced-roll-options {
      padding: 5px;
      margin: 5px 0;
      border-width: 1px;
    }
    .advanced-roll-options-toggle {
    }
  }

  // importing within this selector to ensure higher specificity
  @import 'assets.less';
  @import 'chat-message.less';
  @import 'clickable.less';
  @import 'inputs.less';
  @import 'icons.less';
  @import 'tables.less';
  @import 'icons.less';
}
