@use 'mixins';
@use 'dialog';
@use 'fvtt/dialog' as fvtt-dialog;
@use 'transitions';
@use 'assets';
@use 'attr-box';
@use 'chat-message';
@use 'clickable';

// @use 'dialog';
@use 'dice';
@use 'drag-and-drop';
@use 'editor';
@use 'icons';
@use 'list';
@use 'scrollbar';
@use 'sheet';
@use 'tables';

:root {
  // VARIABLES: DIMENSIONS FOR SPACERS, BORDERS, ETC
  --widget-stroke-width: 1;
  --clock-fill-opacity-hover: 0.6;
  --ironsworn-border-radius-sm: 2px;
  --ironsworn-border-radius-md: 3px;
  --ironsworn-border-radius-lg: 5px;
  --ironsworn-border-width-md: 1px;
  --ironsworn-border-width-lg: 2px;
  --ironsworn-spacer-xs: 2px;
  --ironsworn-spacer-sm: 3px;
  --ironsworn-spacer-md: 5px;
  --ironsworn-spacer-lg: 7px;
  --ironsworn-spacer-xl: 10px;
  --ironsworn-vertical-slider-width: 50px;
  --ironsworn-line-height-lg: 2;
  --ironsworn-line-height-md: 1.5;
  --ironsworn-line-height-sm: 1.25;
  --ironsworn-line-height-xs: 1;
  --ironsworn-line-height: var(--ironsworn-line-height-md);
  --ironsworn-z-index-highest: 100;
  --ironsworn-z-index-higher: 75;
  --ironsworn-z-index-high: 25;
  --ironsworn-z-index-low: -1;
  --ironsworn-z-index-lower: -2;
  --ironsworn-z-index-lowest: -3;
  --ironsworn-transition-duration: 0.5s;
  --ironsworn-transition-timing-function: ease;

  // This could be inset, but for some reason certain states don't inherit this properly, creating an annoying 'pop' in the input hover animation.
  --ironsworn-input-border-style: solid;

  // for later use as a mixin to scope transitions to colors effects only.
  --ironsworn-transition-property-color: background-color, border-color,
    box-shadow, caret-color, color, column-rule-color, filter, opacity,
    outline-color, text-decoration-color, fill-opacity, fill-color, stroke;
  --std-animation-timing: var(--ironsworn-transition-duration)
    var(--ironsworn-transition-timing-function);
  --std-animation: all 0.5s ease;
  --fa-display: inline-block;
  --fa-invert: var(--ironsworn-color-bg);

  // original sample from PDF: #c9181a
  --ironsworn-color-red-light: hsl(355deg 100% 65%);
  --ironsworn-color-red: hsl(7deg 78% 51%);
  --ironsworn-color-red-dark: hsl(357deg 100% 28%);

  // original sample from PDF: #8c1d81
  --ironsworn-color-purple-light: hsl(298deg 72% 62%);
  --ironsworn-color-purple: hsl(299deg 59% 45%);
  --ironsworn-color-purple-dark: hsl(296deg 100% 23%);

  // original sample from PDF: #35a9e0
  --ironsworn-color-blue-light: hsl(191deg 100% 50%);
  --ironsworn-color-blue: hsl(199deg 100% 47%);
  --ironsworn-color-blue-dark: hsl(214deg 100% 45%);
  --ironsworn-color-legacy-quests: var(--ironsworn-color-red);
  --ironsworn-color-legacy-bonds: var(--ironsworn-color-purple);
  --ironsworn-color-legacy-discoveries: var(--ironsworn-color-blue);
  --ironsworn-color-danger: var(--ironsworn-color-red);
  --ironsworn-color-danger-inverted: hsl(0deg 0% 100%);
  --ironsworn-color-success: var(--ironsworn-color-blue);
  --ironsworn-color-warning: hsl(55deg 100% 50%);
  --ironsworn-tab-transition: fade;
}

// :where is a zero-specificity selector, used here so that it's not impossible for components to override global styles
// https://developer.mozilla.org/en-US/docs/Web/CSS/:where
:where(.ironsworn) {
  // @include 'utils';
  // @include 'inputs'; // figure out how to scope this sensibly
  @extend %utils;
  @extend %inputs;
  @extend %assets;

  .dialog {
    @extend %dialog;
  }

  form button,
  button {
    margin: 0;
    border: 0 solid var(--ironsworn-color-border);
    width: auto;
    line-height: var(--ironsworn-line-height);
  }
}

.system-foundry-ironsworn {
  // importing within this selector to ensure higher specificity
  // @use 'assets';
  // @use 'attr-box';
  // @use 'chat-message';
  // @use 'clickable';
  // @use 'dialog';
  // @use 'dice';
  // @use 'drag-and-drop';
  // @use 'editor';
  // @use 'icons';
  // @use 'list';
  // @use 'scrollbar';
  // @use 'sheet';
  // @use 'tables';

  // transitions for interactive elements
  a,
  button,
  select,
  input,
  textarea,
  .scene-control,
  .macro {
    transition: var(--std-animation);

    &.active {
      color: var(--ironsworn-color-clickable-text-selected);
    }
  }

  .ironsworn {
    // import these to the theme apply it to FVTT's own dialogs and inputs as well.

    // stuff scoped to .ironsworn app windows only
    .window-title {
      @include initial-caps;
    }

    .window-content {
      background: var(--ironsworn-color-bg);
      padding: var(--ironsworn-spacer-md);
      height: 100%;
      color: var(--ironsworn-color-fg);
    }

    hr {
      border: 0 solid var(--ironsworn-color-border);
      border-width: 0 0 var(--ironsworn-border-width-md);
      width: 100%;
    }

    h1,
    h2,
    h3 {
      border: none;
    }
  }

  #tooltip {
    // disables additional margin on paragraph elements in tooltips (FVTT doesn't use them, but we do)
    & > {
      p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
