@import 'mixins.less';

table {
  border-top: 1px solid var(--ironsworn-color-border);
  border-bottom: 1px solid var(--ironsworn-color-border);
  border-width: var(--ironsworn-border-width-md);
  background: var(--ironsworn-color-fg-10);
  thead {
    border-color: var(--ironsworn-color-border-muted);
  }

  tr:nth-child(even) {
    background-color: var(--ironsworn-color-fg-10);
  }
  .oracle-table-column-result-text {
    a.entity-link {
      .clickableTextMixin();
      border: none;
      background: none !important;
    }
  }

  td,
  th {
    // hack that forces the roll range column to its minimum size
    width: auto;
    &.oracle-table-column-roll-range {
      width: 1%;
      white-space: nowrap;
      padding-right: calc(var(--ironsworn-spacer-md) * 2);
    }
  }
}
