/* stylelint-disable order/order */
// Light theme for Ironsworn, with minimal restyling of FVTT's stock UI.

@use 'mixin:color.scss';

.ironcolor__zinc {
	// #ff6600 and #ff0000 chosen because they're what FVTT uses for its accents.

	@include color.palettize(
		$fg-color: hsl(0deg 0% 0%),
		$bg-color: rgb(255 255 255),
		$warm-color: hsl(24deg 100% 50%),
		$cool-color: hsl(0deg 100% 50%),
		$prefix: 'ironsworn-color'
	);

	@include color.lightTheme('ironsworn-color');
	@include color.sharpBorder('ironsworn-color');
	@include color.interactiveInvert(
		'ironsworn-color-clickable-block',
		'ironsworn-color'
	);

	--ironsworn-color-text-stroke: transparent;

	// CLICKABLE TEXT: HOVER FILTER EFFECT
	--ironsworn-filter-highlight: drop-shadow(
		0 0 3px var(--ironsworn-color-cool)
	);
	--ironsworn-box-shadow-highlight: 0 0 3px var(--ironsworn-color-cool);
}
