<form class="{{cssClass}} flexcol" autocomplete="off">

    <!-- Header row -->
    <header class="sheet-header" style="flex-grow: 0">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50" />
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        <div class="xp">(xp)</div>
    </header>

    <div class="flexrow">
        <div class="flexcol momentum" style="flex: 1 0">
            <label class="momentum-row"><input type="radio" name="momeentum" value="10" id="momentum10">10</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="9" id="momentum9">9</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="8" id="momentum8">8</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="7" id="momentum7">7</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="6" id="momentum6">6</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="5" id="momentum5">5</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="4" id="momentum4">4</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="3" id="momentum3">3</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="2" id="momentum2">2</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="1" id="momentum1">1</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="0" id="momentum0">0</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="-1" id="momentum-1">-1</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="-2" id="momentum-2">-2</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="-3" id="momentum-3">-3</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="-4" id="momentum-4">-4</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="-5" id="momentum-5">-5</label>
            <label class="momentum-row"><input type="radio" name="momeentum" value="-6" id="momentum-6">-6</label>
        </div>
        <div class="flexcol" style="flex-grow: 0">(health/spirit/supply stack)</div>
        <div class="flexcol">
            <div class="flexrow" style="flex-grow: 0">(E/H/I/S/W stats)</div>
            <div class="flexrow">
                <div class="flexcol">
                    assets & bonds
                </div>
                <div class="flexcol">
                    vows, progreses, sites
                </div>
            </div>
        </div>
        <div class="flexcol" style="flex-grow: 0">
            <div class="flexcol">moves</div>
            <div class="flexcol">oracles</div>
        </div>
    </div>
</form>

<!--
<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="resource">
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" />
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <input type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number" />
                <span> / </span>
                <input type="text" name="data.power.max" value="{{data.power.max}}" data-dtype="Number" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
                {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">Attribute Key</span>
                <span class="attribute-value">Value</span>
                <span class="attribute-label">Label</span>
                <span class="attribute-dtype">Data Type</span>
                <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="attributes-list">
                {{#each actor.data.attributes as |attrib key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <span class="attribute-label flexrow" name="data.attributes.{{key}}.label">{{attrib.label}}</span>
                    <div class="attribute-editbox flexrow">
                        <input type="text" class="attribute-value" name="data.attributes.{{key}}.value"
                            value="{{attrib.value}}" data-dtype="Number" />
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>
-->
