<div class="dice-roll">
  {{#ifIsIronswornRoll}}

  <div class="dice-result ironsworn-roll">

    <div class="dice-formula">
      <p class="hit-type">{{ironswornHitType}}</p>
      <p>{{{actionDieFormula}}} vs. {{{challengeDice}}}</p>
    </div>
    {{{tooltip}}}
  </div>

  {{else}}

  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    <div class="dice-formula">{{formula}}</div>
    {{{tooltip}}}
    <h4 class="dice-total">{{total}}</h4>
  </div>

  {{/ifIsIronswornRoll}}
</div>
