// styles for FVTT application windows.
@import '../mixins.less';

// .app {
//   .borderFloatingMixin();
// }

.journal-entry .journal-entry-content {
  background: var(--ironsworn-color-bg);
}

.window-content {
  height: 100%;
  padding: var(--ironsworn-spacer-md);
  background: var(--ironsworn-color-bg);
  color: var(--ironsworn-color-fg);
}

.window-app,
.journal-entry .journal-entry-content {
  background: var(--ironsworn-color-bg);
  border-width: var(--ironsworn-border-width-md);
  border-style: solid;
}

// .window-app {
//   .window-header {
//     a {
//       .clickableTextMixin();
//     }
//   }
// }
