@use 'mixins:clickable.scss';

.app:not(.ironsworn) button {
  @include clickable.block;

  border-width: var(--ironsworn-border-width-md);
  border-style: solid;
  border-radius: var(--ironsworn-border-radius-md);
}

form,
#permissions-config {
  .notes,
  .hint {
    color: var(--ironsworn-color-fg-muted);
  }
}
