@import '../mixins.less';

#controls ol.control-tools > li {
  border-width: var(--ironsworn-border-width-md);
  border-radius: var(--ironsworn-border-radius-lg);
  background: var(--ironsworn-color-dark-50);
  color: var(--color-text-light-heading);
  border: 1px solid var(--color-border-dark);
  border-radius: var(--ironsworn-border-radius-lg);
  transition: var(--std-animation);
  .active,
  &:hover {
    color: var(--ironsworn-color-fg-highlight);
    border: 1px solid var(--color-border-highlight-alt);
    border-bottom: 1px solid var(--color-border-highlight);
    box-shadow: 0 0 10px var(--color-shadow-highlight);
  }
}

.app:not(.ironsworn) button {
  .clickableBlockMixin();
  border-radius: var(--ironsworn-border-radius-md);
  border-width: var(--ironsworn-border-width-md);
  border-style: solid;
}

form,
#permissions-config {
  .notes,
  .hint {
    color: var(--ironsworn-color-fg-muted);
  }
}
