@import '../mixins';

.app:not(.ironsworn) button {
  @include clickable-block;

  border-radius: var(--ironsworn-border-radius-md);
  border-width: var(--ironsworn-border-width-md);
  border-style: solid;
}

form,
#permissions-config {
  .notes,
  .hint {
    color: var(--ironsworn-color-fg-muted);
  }
}
