// styles for any FVTT dialog. You can import them globally, or scoped to e.g. the .ironsworn class.
@import (reference) '../mixins.less';
@import (reference) '../utils.less';

.dialog {
  .window-content {
    .dialog-content {
      fieldset {
        background-color: var(--ironsworn-color-fg-10);
        border-radius: var(--ironsworn-border-radius-md);
        border: none;
      }
      details {
        summary {
          cursor: pointer;
          border-radius: var(--ironsworn-border-radius-md);
          &:focus {
            .inputFieldFocusMixin();
          }
        }
      }
    }
    .dialog-buttons {
      height: max-content;
      align-items: flex-end;
      display: flex;
      flex-flow: row wrap;
      flex-grow: 0;
      gap: var(--ironsworn-spacer-sm);
      button.default,
      button {
        .clickableBlockMixin();
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
        border-width: var(--ironsworn-border-radius-md);
        border-radius: 0;
        .button-text {
          .nogrow();
          .initial-caps();
          width: auto;
          height: max-content;
        }
        i {
          margin: 0;
        }
      }
    }
  }
}
