// styles for FVTT's sidebar

@import '../mixins.less';
#sidebar {
  #sidebar-tabs {
    .item {
      .clickableTextMixin();
      .tabTopMixin();
      margin: 0;
      color: var(--ironsworn-color-clickable-block-fg);
      border-color: transparent;
    }
    .collapse {
      .clickableBlockMixin();
      border: 0;
    }
  }
  .directory {
    .directory-header .header-search input {
      .inputFieldMixin();
    }
    .directory-item {
      .document-name {
        --boxGlowSize: calc(
          (var(--sidebar-item-height) + var(--sidebar-width)) / 4
        );
        cursor: pointer;
        .clickableBlockMixin(var(--boxGlowSize));
        border: 0;
        background-color: transparent;
        margin: 0;
        padding-left: 8px;
      }
    }
  }
  // CHAT TAB
  #chat {
    #chat-log {
      // for chat *messages*, see chat-messages.less
    }
    #chat-controls {
      .roll-type-select {
        background-color: var(--ironsworn-color-light-overlay);
        color: var(--ironsworn-color-fg);
      }
    }
    textarea#chat-message {
      .inputFieldMixin();
    }
  }
}
