// styles for FVTT's sidebar

@import '../mixins.scss';
#sidebar {
  li.folder > .folder-header {
    background: var(--ironsworn-color-fg-20);
  }
  .settings-sidebar,
  .compendium-sidebar {
    h2,
    h3 {
      background-color: var(--ironsworn-color-light-10);
      border-color: var(--ironsworn-color-midtone-50);
    }
  }
  .combat-sidebar {
    .combat-tracker-header {
      a.combat-button {
        @include clickableTextMixin();
      }
    }
  }
  #sidebar-tabs {
    .collapse {
      @include clickableBlockMixin();
      background-color: transparent;
      border: 0;
    }
  }

  // CHAT TAB
  #chat {
    #chat-log {
      // for chat *messages*, see chat-messages.scss
    }
    #chat-controls {
      .roll-type-select {
        @include inputFieldMixin();
        border-style: outset;
      }
    }
    textarea#chat-message {
      @include inputFieldMixin();
    }
  }
}

.directory {
  .directory-header {
    .header-search {
      input {
        @include inputFieldMixin();
      }
    }
  }
}
