#tooltip {
  border: var(--ironsworn-border-radius-md) solid
    var(--color-border-dark-secondary);
  border-radius: var(--ironsworn-border-radius-md);
  box-shadow: 0 0 4px var(--color-shadow-dark);
  // TODO: currently this isn't really changing much, but i'd like to revisit it for the dark theme.
  background: var(--ironsworn-color-dark-90);
  line-height: var(--font-size-16);
  color: var(--color-text-light-highlight);
  font-family: var(--font-primary);
  font-size: var(--font-size-16);
  pointer-events: none;
}
