// overrides for some of FVTT's default variables, mainly useful for retheming them with e.g. a dark theme.

.overrideVars {
  --color-shadow-primary: var(--ironsworn-color-warm);
  --color-border-highlight-cool: var(--ironsworn-color-warm);

  --color-text-hyperlink: var(--ironsworn-color-cool);
  --color-shadow-highlight: var(--ironsworn-color-cool);
  --color-border-highlight: var(--ironsworn-color-cool);

  --color-shadow-dark: var(--ironsworn-color-dark);
  --color-border-dark: var(--ironsworn-color-dark);

  --color-underline-header: var(--ironsworn-color-fg-highlight);

  --color-underline-active: var(--ironsworn-color-warm);

  --color-border-light-primary: var(--ironsworn-color-border);

  --color-text-light-primary: var(--ironsworn-color-fg);

  --color-text-light-highlight: var(--ironsworn-color-light);

  --color-text-light-highlight: var(--ironsworn-color-light);
  --color-text-light-heading: var(--ironsworn-color-light);
  --color-text-light-primary: var(--ironsworn-color-tone-90);

  --color-text-dark-primary: var(--ironsworn-color-tone-10);
  --color-text-dark-secondary: var(--ironsworn-color-tone-30);
  --color-text-dark-header: var(--ironsworn-color-tone-20);
  --color-text-dark-inactive: #7a7971;

  --color-border-light-highlight: var(--ironsworn-color-light-highlight);
  --color-border-light-1: var(--ironsworn-color-tone-90);
  --color-border-light-secondary: #c9c7b8;
  --color-border-light-primary: var(--ironsworn-color-light);
  --color-border-light-2: #999;
  --color-border-light-tertiary: #7a7971;
  --color-border-dark-1: var(--ironsworn-color-tone-10);
  --color-border-dark-2: var(--ironsworn-color-tone-20);
  --color-border-dark-3: var(--ironsworn-color-tone-30);
  --color-border-dark-4: var(--ironsworn-color-tone-40);
  --color-border-dark-5: var(--ironsworn-color-tone-50);

  --color-border-dark: #000;
  --color-border-dark-primary: #191813;
  --color-border-dark-secondary: #23221d;
  --color-border-dark-tertiary: #4b4a44;
}
