<form>
  <h3>{{localize 'IRONSWORN.Rolling'}} +{{localize (concat 'IRONSWORN.' (capitalize stat))}}</h3>
  <div class="form-group">
    <label>{{localize 'IRONSWORN.Bonus'}}</label>
    <input name="bonus" />
  </div>
</form>
