<form>
  <div>{{{enrichMarkdown move.data.data.Trigger.Text}}}</div>

  {{#if move.data.data.Trigger.Options}}
    <ul>
      {{#each move.data.data.Trigger.Options}}
        {{#if Text}}
          <li>
            {{Text}}:
            <strong>{{formatRollMethod Method Using}}</strong>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}

  <hr />

  <div class='form-group'>
    <label>{{localize 'IRONSWORN.Bonus'}}</label>
    <input type='number' step='1' name='bonus' />
  </div>
</form>