<form
	class='{{cssClass}} ironsworn flexcol vueroot'
	style='height: 100%'
	autocomplete='off'
>
	<Suspense>

		<root-component :data='data'>
			Whoops, an error occurred.
		</root-component>

		<template #fallback>
			<div class='flexrow'>
				<loading-spinner />
			</div>
		</template>

	</Suspense>
</form>