<form class='{{cssClass}} flexrow' autocomplete='off'>
  <div class="flexrow boxgroup" style="margin: 30px;">
    <div class="flexrow boxrow">
      <div class="flexrow box clickable block ironsworn__character__create" style="align-items: center;">
        <div class="flexcol" style="align-items: center;">
          <img src="icons/creatures/eyes/human-single-blue.webp" width="75" height="75" alt="">
          <h4>Character Sheet</h4>
        </div>
      </div>
      <div class="flexrow box clickable block ironsworn__shared__create" style="align-items: center;">
        <div class="flexcol" style="align-items: center;">
          <img src="icons/environment/settlement/wagon-black.webp" width="75" height="75" alt="">
          <h4>Shared Sheet</h4>
        </div>
      </div>
    </div>
  </div>
</form>
