<form
  class='{{cssClass}} flexcol vueroot'
  style='height: 100%'
  autocomplete='off'
>
  <sfcharacter-movesheet
    :actor='data.actor'
    :toolset='data.toolset'
    ref='child'
  >
    Whoops, an error occurred.
  </sfcharacter-movesheet>
</form>