<form class='{{cssClass}} flexcol' autocomplete='off'>
  <progress-sheet
    class='ironsworn-vueport'
    dependencies='vue vuecomponents'
    :item='item'
  >
    Loading…
  </progress-sheet>
</form>