@mixin starforgedAssetDeco(
	$deco-expanded-height: 50px,
	$deco-collapsed-height: 32px
) {
	--ironsworn-deco-aspect-ratio: calc(24 / 28);
	--ironsworn-deco-expanded-height: $deco-expanded-height;
	--ironsworn-deco-collapsed-height: $deco-collapsed-height;

	position: relative;

	&::before {
		display: block;
		position: absolute;
		top: calc(var(--ironsworn-deco-expanded-height) * -0.09);
		right: calc(var(--ironsworn-deco-expanded-height) * 0.03);
		transform: scaleX(-1);
		z-index: auto;
		background: var(--ironsworn-color-thematic);
		height: var(--ironsworn-deco-collapsed-height);
		content: '';
		pointer-events: none;

		/* This seems wrong, but imports. See https://github.com/vitejs/vite/issues/7651 */
		mask-image: url('/../../../system/assets/misc/hex-deco.svg');
		aspect-ratio: var(--ironsworn-asset-deco-aspect-ratio);
		mask-repeat: no-repeat;
	}

	& > * {
		z-index: 2;
	}

	.asset-header {
		padding-right: calc(
			var(--ironsworn-deco-collapsed-height) *
				var(--ironsworn-deco-aspect-ratio)
		);
	}
}
