@mixin ironsworn {
  .asset-ironsworn .asset-ability::before {
    border: var(--ironsworn-border-width-md) solid var(--ironsworn-color-fg);
  }
}

@mixin starforged {
  .asset-ironsworn .asset-ability::before {
    border-width: var(--ironsworn-border-width-md);
    border-style: solid;
  }

  .asset-starforged .asset-ability::before {
    border-width: var(--ironsworn-border-width-md);
    border-style: solid;
    background-color: var(--ironsworn-color-fg);
  }
}

@mixin starforged-asset-deco(
  $deco-expanded-height: 50px,
  $deco-collapsed-height: 32px
) {
  --ironsworn-deco-aspect-ratio: calc(24 / 28);
  --ironsworn-deco-expanded-height: $deco-expanded-height;
  --ironsworn-deco-collapsed-height: $deco-collapsed-height;

  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: calc(var(--ironsworn-deco-expanded-height) * -0.09);
    right: calc(var(--ironsworn-deco-expanded-height) * 0.03);
    transform: scaleX(-1);
    z-index: auto;
    background: var(--ironsworn-color-thematic);
    height: var(--ironsworn-deco-collapsed-height);
    content: '';
    pointer-events: none;
    aspect-ratio: var(--ironsworn-deco-aspect-ratio);
    mask-image: url('/assets/misc/hex-deco.svg');
    mask-repeat: no-repeat;
  }

  & > * {
    z-index: 2;
  }

  .asset-header {
    padding-right: calc(
      var(--ironsworn-deco-collapsed-height) *
        var(--ironsworn-deco-aspect-ratio)
    );
  }
}
