@mixin fontIcon() {
  display: flex;
  position: relative;
  justify-content: center;
  width: var(--ironsworn-icon-size);
  height: var(--ironsworn-icon-size);
  line-height: 1 !important;

  &::before {
    display: flex-item;
    flex-basis: 0;
  }
}
