{{#each data.fields}}
<p><strong>{{name}}:</strong> {{value}}</p>
{{/each}}

{{#if data.description}}
<p>{{{data.description}}}</p>
{{/if}}

<ul>
{{#each data.abilities}}
{{#if enabled}}
<li>{{{description}}}</li>
{{/if}}
{{/each}}
</ul>
