name: Release on Tag

on:
  push:
    tags:
      - '0.*'
      - '1.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: Get Version
        shell: bash
        id: get-version
        run: echo "version=$(node ./.github/workflows/get-version.js) >> $GITHUB_OUTPUT"

      - name: Reconfigure git to use HTTP authentication
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies and run webpack
        run: |
          pnpm install
          pnpm run build:production

      - name: Create installable system zip file
        run: cd dist && zip -r ../ironsworn.zip *

      - name: Create release
        id: create_versioned_release
        uses: ncipollo/release-action@v1
        with:
          name: ${{ steps.get-version.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: './system/system.json,./ironsworn.zip'
